[2019-04-05 15:53] justinscherer opened #1 "Write the code of conduct"
Write a code of conduct (COC)

There should be a COC for:

1 - The Open Design repo & contributing to it (this repo)
2 - The events, attending and what we expect
3 - The TenFour repo (https://github.com/ushahidi/tenfour) that is linked to the Open Design repo. But because this repo could attract dev involvement too.

Our COC needs to be design-focused and also intersectionally inclusive.

[2019-04-05 15:57] justinscherer opened #2 "Fill out availability in the logistics doc"
Please fill out your availability in [The Logistics Doc](https://docs.google.com/document/d/1XgK-mIL2wwB8YK8kWCGrrdN4gPxyW3-gPMABPQH4haY/edit#)

[2019-04-05 15:59] justinscherer opened #3 "Plan desk research"

[2019-04-05 16:34] justinscherer opened #4 "Interview protocol"
We want to interview "geniuses" of open design in our network as an initial input for the open source design methodology. We need an interview protocol to guide those discussions

[2019-04-05 16:35] justinscherer opened #5 "Plan desk research"
What's the plan for desk research? Desk research, basically a literature review, will be one of the initial inputs into the open source design methodology

[2019-04-05 16:36] #3 closed

[2019-04-05 16:42] justinscherer opened #6 "Add a content development and social media person to the team"
We are tracking applicants [in this doc](https://docs.google.com/document/d/1GGwFn9xtoecmC-3JKoxHZVU02gAuT5z83rFjMWcqKM8/edit)

[2019-04-05 16:43] justinscherer opened #7 "Create a draft of the work plan"
[The doc is here](https://docs.google.com/spreadsheets/d/1rPENOhkSL_3lvDUi665N4Apl0WpbZY6xDHlLUp4kUro/edit#gid=0)

[2019-04-05 16:45] justinscherer opened #8 "Choose which events we want to attend for workshops"
[raw list is here](https://docs.google.com/document/d/1214qhM8TNCHthcBI3RwbHlI4hpUjWTbWhXpVcPXp7eM/edit#heading=h.rj4isr1d58vp)

[2019-04-05 21:08] justinscherer opened #9 "Write a brief for Designit"

[2019-04-05 21:09] justinscherer opened #10 "What are our KPIs"
Justin and Eriol to outline/draft any metrics for success 1st draft and share with Jay to share with Adobe officials

[2019-04-05 21:22] justinscherer opened #11 "Short list of articles and books to cover"

[2019-04-05 21:22] justinscherer opened #12 "Desk research"

[2019-04-05 21:23] justinscherer commented on #11
https://globalworkplaceanalytics.com/telecommuting-statistics

Remote work has increased 140% from 2005-2018

[2019-04-05 21:30] justinscherer commented on #11
articles here:

``/Dropbox (Ushahidi)/Design/Research``

[2019-04-05 21:34] justinscherer commented on #11
More sources from [List of Academic Research on Usability in FOSS](https://github.com/victoria-bondarchuk/List-of-Academic-Research-on-Usability-in-FOSS)

* https://ometer.com/free-software-ui.html
* https://jancborchardt.net/usability-in-free-software
* Turner, Fred. „Burning Man at Google: a cultural infrastructure for new media production“. New Media & Society 11, Nr. 1–2 (2009): 73–94. [On bur

[2019-04-10 13:30] Erioldoesdesign commented on #9
Rough notes from Design Internal meeting:

Planning the brief doc for Designit visual design work
It's a brief not requirements.

- 1st part: Generative identity system that we can use to create a lot of social visuals and other assets & basic branding. Logo, guidelines, font etc.

- Website: How is it going to grow? Simple. To start, creative based on the visual system, basic description of the p

[2019-04-10 14:38] Erioldoesdesign commented on #12
Revisit: Define our research questions for the project.

[2019-04-11 23:45] Erioldoesdesign commented on #9
# Refined brief & what to cover:

⋅⋅* Introductions Ushahidi & Designit
⋅⋅* Background of project including the two past events
⋅⋅* Aims of the project as a whole. What are we trying to tackle? (Impart implicit understanding of project)
⋅⋅* Ushahidi's past work in Humanitarian tech, TenFour origin story and other notable Ushahidi projects

## Brief

The Open Source Design project needs a generativ

[2019-04-15 22:15] #2 closed

[2019-04-15 22:16] Erioldoesdesign commented on #2
Everyone has done this.

Will bug people to keep it up to date :)

[2019-04-16 09:19] aschwersenz opened #13 "CMS"
My suggestion would be to use Wordpress. It is a reasonable CMS for a website like this, the admin area where you manage the content and so on is very user friendly and easy use to understand also for people with few experience with CMS and it enables fast development. I will combine it with a set of plugins, e.g. for improving performance and simplyifing the content editor, that I regularly use.

[2019-04-16 09:20] aschwersenz commented on #13
@justinscherer Are the plugin costs a 1-time fee? Or are they monthly/annual?

[2019-04-16 09:20] aschwersenz commented on #13
1-time

[2019-04-16 09:20] aschwersenz commented on #13
There should be budget in our contract with you folks for the plugins,m so that's no issue. cc @Thomas Kueber

[2019-04-16 09:21] aschwersenz commented on #13
Do we even need a CMS? Who is going to maintain the WP instance (and plugins/compatibility) once phase 1 is over? Even with auto-updates configured, WP adds significant overhead… The various page elements need to be built, optimised and tested in HTML/CSS/JS anyway, why the added efforts of creating and maintaining a WP theme, and maintaining the whole system?

Just poking holes into that proposal

[2019-04-16 09:23] aschwersenz commented on #13
from Justin: I'm all for keeping it simpler in the short term

[2019-04-16 09:23] aschwersenz commented on #13
from Jay: …not even talking about performance :slightly_smiling_face: We use WP for opendevicelab.com (which is unfortunately broken at the moment) but we’re only using it for the backend… added our own API layer that generates static frontend code because slooow.

[2019-04-16 09:23] aschwersenz commented on #13
from Eriol: My concern with HTML templates etc. is the time to set up a local host and all the push/pull/versioning of the site will be more 'devvy' so out of a comfort zone here

[2019-04-16 09:24] aschwersenz commented on #13
I would recommend using a CMS. The effort on my side whether building static html pages or a wordpress theme is basically the same and it would enable you to easily change content without needing technical assistance for uploading etc. Espacially at this early stage where a lot of things are changing maybe quickly you can easily adapt the website to new things that might arise. And it also in my o

[2019-04-16 09:24] aschwersenz commented on #13
from Jay: The point is that I really don’t see huge growth in terms of subsections and tons of categories and articles even at later points. But, yes, I see the point of some on the team might feel better with not having to deal with code/repo (wasn’t that the whole point of the OSD project, haha?).

What about the WP performance impact. Is there a reliable and lightweight caching setup you’d have

[2019-04-16 09:24] aschwersenz commented on #13
Normaly I have used WP SuperCache so far, some people now prefer WP Rocket, I would take a look at it. I will anyway for the reasons you mentioned keep the usage of plugins to a necessary minimum. “Can we use WP in the backend but not expose access to it in the frontend (as we did on opendevicelab.com)?” I am not a 100% sure what your exact solution there was? Apart from that I will anyway apply s

[2019-04-16 09:25] aschwersenz opened #14 "Hosting"
About hosting the website, where do you host your current sites? Can we also use that? Or should we come up with suggestions? Also who will handle the domain registration?

[2019-04-16 09:25] aschwersenz commented on #14
from Justin: We'll handle the hosting and domain registrations. I'll get back to you with details

[2019-04-16 09:26] aschwersenz opened #15 "Mailchimp"
Do we want to use Mailchimp for collecting the user sign ups? Do you already have an MC account that we can use?

[2019-04-16 09:26] aschwersenz commented on #15
from Justin: Not sure yet whether we want to use MC or some other service. Double checking with team.

[2019-04-16 09:26] aschwersenz commented on #15
from Jay: Yes, MC would be my preferred candidate for outbound communication (we can also offload much of the GDPR compliance to them), and allows for proper segmentation of contact lists and even demographics (with a certain level of $$).

Keep in mind it is not a CRM, which brings us back to the abstraction layer to Github.

[2019-04-16 09:27] aschwersenz commented on #15
from Eriol: I would prefer to use Mail chimp too - this doesn't need to integrate with Ushahidi systems fully

[2019-04-16 09:27] aschwersenz commented on #15
from Eriol: Doesn't mail chimp have a fee for over a certain amount of people on a mailing list though?

[2019-04-16 09:27] aschwersenz commented on #15
from Jay: MC fee is for mailing lists of >2000 people, and then it is per email/contact (a points system) and rather affordable.

One (but not the primary) reason for clustering the contacts we gather into various areas of interest == lists.

[2019-04-16 09:28] aschwersenz opened #16 "Tracking"
What about tracking, e.g. Google Analytics?

[2019-04-16 09:28] aschwersenz commented on #16
from Justin: GA should be integrated, yes. Not sure if we use our pre-existing account or not. Will follow up with team.

[2019-04-16 09:29] aschwersenz commented on #16
from Jay: GA is a different animal and I agree

[2019-04-16 09:29] aschwersenz commented on #16
from Jay: GA: if there is reason to avoid GA, Piwik is a proven and powerful alternative.

[2019-04-16 09:29] aschwersenz commented on #16
from Jay: Matomo, the artist formerly known as Piwik, I mean. :slightly_smiling_face: https://piwik.com/

[2019-04-16 09:30] aschwersenz opened #17 "SEO"
What about SEO? Is that an issue?

[2019-04-16 09:31] aschwersenz commented on #17
from Justin: Content person will have to handle SEO with guidance from anyone who can help

[2019-04-16 09:31] aschwersenz commented on #17
from Jay: I neither think we have the budget, content, nor the property for a proper SEO (content) strategy and implementation. We’re running based on social and references from friends & family, plus media (if we’re lucky).

We’re not necessarily running based on organic search (that might be a phase 2 component but we could simply run paid media and it would probably be cheaper than a proper SEO

[2019-04-16 09:31] aschwersenz commented on #17
from Eriol: SEO optimisation should really be considered in any content piece (but its not because we aren't all experts)

SEO strategy and PPC is a whole other beast that I would not expect our content/writer to undertake

[2019-04-16 09:32] aschwersenz opened #18 "GDPR"
For visitors from the EU we probably need all that GDPR stuff? Do you already have some legal texts for that? < Legal text is covered in the page: https://opendesign.ushahidi.com/privacy-policy/

Further dev work needed to make the following checkbox a validation requirement:

![Screenshot 2019-07-29 at 20.48.23.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/b88631c0-d998-4247-

[2019-04-16 09:32] aschwersenz commented on #18
from Justin: It'll have to be GDPR compliant, yes. We have some boilerplate for that I think.

[2019-04-16 09:33] aschwersenz opened #19 "HTTPS"
HTTPS would be amazing, also because users can sign up on the page. So somebody has to take care of getting a https certificate?

[2019-04-16 12:01] aschwersenz opened #20 "Naming"
So what are we gonna call it?

[2019-04-23 07:59] aschwersenz commented on #20
opendesign.ushahidi.com

[2019-04-23 08:11] aschwersenz opened #21 "Signup Enhancement"
The idea is to spice up the sign up process a bit to make it more appealing to users and to enable ushahidi to gather additional information.

There are currently a couple of ideas:

_ do a buzzfeed quiz like thing
_ do something more conversational like opendesign.ushahidi.com
_ do something more video game-ey like this https://www.creativebloq.com/pixar/create-monsters-university-character-61333

[2019-04-23 12:55] Erioldoesdesign commented on #21
You also might want to take a look at things like:

https://www.whatkindofdesigner.com/
https://eyeondesign.aiga.org/whos-your-design-crush-take-our-quiz-to-find-out/

things like Thirdlove started this out with their bra fitting 'quiz' https://www.thirdlove.com/pages/fit-finder#/

But really, anything which engages the designers with the 'content' 'story' and 'context' of Open Source Design (thos

[2019-04-23 13:30] justinscherer commented on #19
cc @tuxpiper @mackers Can you provide some guidance here?

[2019-04-23 13:31] justinscherer commented on #16
cc @rowasc How can we integrate this into our GA instance? Should we?

[2019-04-23 13:32] justinscherer commented on #15
- [ ] Create a Mailchimp account (free for now), and we'll upgrade later if need be.

[2019-04-23 13:33] justinscherer commented on #14
cc @tuxpiper

[2019-04-23 13:33] Erioldoesdesign commented on #21
This is dialled back for the '1st phase' in that it will be incredibly basic and simple.

A form field capturing an email and a button.

Goes to a mailchimp account which will be a new account as described in issue #15

[2019-04-23 13:34] #20 closed

[2019-04-23 13:37] justinscherer opened #22 "Social media accounts"
- [x] Choose which SM networks we want to use
- [x] Sign up for the social media accounts
- [x] Make sure the team has the right credentials and passwords

[2019-04-23 13:38] rowasc commented on #16
sorry, what's the page that we need to/are thinking of  integrating?
@justinscherer

[2019-04-24 11:59] justinscherer commented on #16
@rowasc the information page for the open source design project. We'll want to track traffic, etc. Wondering if it makes sense to run it through our GA account, or to create a new one.

[2019-04-24 12:47] tuxpiper commented on #14
What would  folks like to have? A custom built app or something more like a CMS?

In case it's a CMS (i.e. Wordpress, Craft..), I would suggest looking at services provided by experts hosting that exact CMS . They'll be more expensive than just paying for the servers , but that's because they take all the administrative overhead of keeping things running, updating versions, making backups, etc on

[2019-04-24 12:51] tuxpiper commented on #19
HTTPS is actually a must nowadays :) There are even some top level domains (i.e. .dev) that are assumed  to have it or show warnings in users browsers.

The exact approach largely depends on the hosting decision (#14) . Most maintainable thing in the long run would be for the hosting provider to facilitate / provide this.

[2019-04-24 13:15] aschwersenz commented on #14
It is going to be a Wordpress. Do you already have experience with a service for that?

[2019-04-24 18:16] justinscherer commented on #11
https://www.theguardian.com/lifeandstyle/2019/mar/25/extreme-loneliness-or-the-perfect-balance-how-to-work-from-home-and-stay-healthy?curator=nodesk.co

[2019-04-25 08:59] aschwersenz opened #23 "Code repo for the website"
Where should I put the code for the website? In this repo? Or you want to create a private one?

[2019-04-25 14:09] rowasc commented on #16
ah, ok makes sense.
I think it should be the same account, just a different project in the same GA account then

[2019-04-25 16:49] justinscherer commented on #16
How / who would put that together?

On Thu., Apr. 25, 2019, 08:09 Romina Suarez, <notifications@github.com>
wrote:

[2019-04-26 17:25] rowasc commented on #16
Assuming someone can put in the GA Code in the code (is Anna working on it? ) , I could set you up in analytics .

[2019-04-26 17:26] rowasc commented on #16
It's 2 steps basically, creating the GA property (me) and then putting in the GA code in the HTML(someone/me/?)

[2019-04-26 17:27] justinscherer commented on #16
@rowasc can you send @aschwersenz the code in this issue when you've got it done?

[2019-04-26 17:41] rowasc commented on #16
Yep, can you send me the URL ? Analytics asks for it to register the property  (it can be a temporary one)

[2019-04-26 17:47] justinscherer commented on #16
opendesign.ushahidi.com

[2019-04-26 17:55] rowasc commented on #16
@aschwersenz UA-12063676-40
This is the UA code to add :)

[2019-04-26 17:55] rowasc commented on #16
[code]

[2019-04-29 12:43] tuxpiper commented on #14
I don't have experience with any particular provider. There are lots of them (wordpress, bluehost, dreamhost and others come to mind).

When shopping for a managed solution, it helps to have a list of features that the project would like to have available, as well as any customizations that should be able to do on the setup. i.e. customize the themes, install plugins, etc .  Do we have something l

[2019-04-29 13:06] aschwersenz commented on #14
Well, I can give you a quick overview:
_ We need to be able to install a custom theme
_ We have to be able to install plugins

The question of performance is something I can't really answer as I don't know how much traffic you are expecting, but my estimation for now would be that some cache plugin for WP is sufficient for now.

[2019-04-30 15:14] sofia-wolf opened #24 "Design Delivery"
Hi all, uploading here the Font, UI Kit and Template for the Landing Page.
If you have any problem opening the UI Kit in Illustrator, then please let me know and I send it over another platform, the file is too big for here, but what I sent you shouldn´t be any problem.

[Inter-typeface.zip](https://github.com/ushahidi/opensourcedesign/files/3131862/Inter-typeface.zip)

[UI Kit.zip](https://github

[2019-05-16 08:44] #9 closed

[2019-05-16 08:44] Erioldoesdesign commented on #7
This needs re-drafting. Opening back up!

[2019-05-16 09:44] Erioldoesdesign opened #25 "Launch Article #1"
1st draft of the launch article due on the 21st/22nd of May for review via Lade

[2019-05-16 09:46] Erioldoesdesign opened #26 "Social media plan #1"
First round of launch social posts via Joy

[2019-05-16 09:47] Erioldoesdesign opened #27 "Square logo to be created"
We need a logo that will work on social icons/profiles that is square orientation.

max size 1080x1080px - High res version in .png .jpg .svg

min size 50x50px low res version  .png .jpg .svg

Favicon .favi (use website to create this)

[2019-05-16 09:52] Erioldoesdesign commented on #6
We hired Lade & Joy

Lade works on written pieces and content

Joy works on Social strategy and social media posting.

[2019-05-16 10:06] Erioldoesdesign opened #28 "Genius Interview #1 - DB"
Interview protocol here: https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

Notes from the interview are in the same document under the outline heading.

[2019-05-16 10:15] Erioldoesdesign opened #29 "Methodology #1"
The first version of the Methodology to test at the 1st event

WIP Document here: https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/edit?usp=sharing

[2019-05-16 10:22] Erioldoesdesign opened #30 "Methdology #1"
The first version of the Methodology to test at the 1st event

WIP Document here: https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/edit?usp=sharing

## Update:
Methodlogy has been reviewed, amended and split into two:

1 - The public-facing replicable document that serves as a 'guide': https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/ed

[2019-05-17 12:58] Erioldoesdesign opened #31 "Social preview image for the repo"
Upload an image to customize your repository’s social media preview.
Images should be at least 640×320px (1280×640px for best display). 

Located in repo settings

Download template: https://github.com/ushahidi/opensourcedesign/settings/og-template

[2019-05-17 15:06] Erioldoesdesign opened #32 "Interview guidelines/protocol"
Interview protocol here: https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-05-21 11:50] Erioldoesdesign commented on #28
Raw notes from notebook:

![1.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/a4ded901-bc51-4c70-9265-35a6a92390c7)![2.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f552d82d-03b4-4b9b-bee3-0d6ee75e4966)![3.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/e28ff7b4-3d82-4fbb-90ac-d36c91d45f4e)![4.jpg](https://images.zenhubusercontent.com/5a6a

[2019-05-21 11:50] Erioldoesdesign commented on #28
Transcribed notes with added explanations:

It’s about shipping a product more than it is about design ideas for a product.

It’s funny how designers gravitate towards tackling the ‘big thought ideas’ like those are the things that are easier to generate content about as it’s more about opinion, speculation, discussion as less about finding out exactly what’s needed to put a product in a user hand

[2019-05-21 11:51] #28 closed

[2019-05-21 11:52] Erioldoesdesign opened #33 "Follow up with Designit re. finance"
Connect back up with Designit team re. finance for Identity work.

[2019-05-21 11:53] Erioldoesdesign opened #34 "Project Admin & Finance"
Epic to collect all the admin and financials for the Open Design project

[2019-05-22 08:44] thesocialdetail commented on #22
Facebook page and Twitter account created.

[2019-05-22 08:55] thesocialdetail commented on #22
- [ ] 1080 by 1080 px profile image, JPG or PNG

- [ ] Facebook banner, this can be an image 820 x 415 px or video 820 by 462 pixels with a video resolution of 1080p.

- [ ] Twitter banner image 1500 x 500 px, JPG or PNG

[2019-05-22 12:46] #6 closed

[2019-05-22 14:51] Erioldoesdesign opened #35 "Create Twitter banner image"
Twitter banner image 1500 x 500 px, JPG or PNG

[2019-05-22 14:53] Erioldoesdesign commented on #26
WIP document located here ready for feedback via comments: https://docs.google.com/document/d/1eWwhPGi8_rRaW-i0t6sSHF3PueNHkJlmQav05cBJSnA/edit?usp=sharing

[2019-05-22 14:54] deaduramilade commented on #25
Article outline done
https://docs.google.com/document/d/1opXZV26LaBvWn6gttXBkjq-JVmZGBI7Dw0sAcLvPy4g/edit?usp=sharing

[2019-05-22 16:14] thesocialdetail opened #36 "Create Facebook banner"
Facebook banner, this can be an image 820 x 415 px or video 820 by 462 pixels with a video resolution of 1080p.

[2019-05-22 16:14] #22 closed

[2019-06-03 11:30] deaduramilade commented on #25
Article update https://docs.google.com/document/d/1zSdWCBxAkt8kNKFLAZt07FswpKnoiB0mb-rk0wFB_yg/edit?usp=sharing

[2019-06-09 14:14] Erioldoesdesign opened #37 "Brand and Identity"
An epic to cover things like Logos, UI, Identity work.

[2019-06-09 14:15] Erioldoesdesign commented on #27
Files of square logos here in both 1080px and 50px

![Logo – square.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/ee2d8a10-83e6-44e1-b5e7-c47aebb2810b)
![Logo – square – 2.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/a857d354-ca23-49e7-b932-659dfa6fb3b3)
![Logo – square – 1.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f89d7d5a-bb16-4

[2019-06-09 14:21] Erioldoesdesign commented on #27
Favicon's here:

![favicon.ico](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/983bee80-ef4a-4f5f-b216-6ac581194d29)

![favicon.ico](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/35eac477-e660-4df6-af5e-8a1736e99fba)

[2019-06-09 14:27] Erioldoesdesign commented on #5
List of previous player in the field located here: https://docs.google.com/spreadsheets/d/1kyhHwCG9P768N2fUhDmdj5HHCRllF_VS-SejTQ1J0Wg/edit?usp=sharing

[2019-06-09 14:27] Erioldoesdesign commented on #5
List of articles online to read here: https://github.com/ushahidi/opensourcedesign/issues/11

[2019-06-09 14:29] Erioldoesdesign opened #38 "List of books"
A list of books on the topic of open design practice to be listed here in comments.

Please format your book post in the comment as the following:

Book title
Book author/s
Publishers
Year published
Relevant chapters
Relevant quote in "quote marks"

[2019-06-09 14:29] Erioldoesdesign commented on #5
List of books located here: https://github.com/ushahidi/opensourcedesign/issues/38

[2019-06-09 15:49] Erioldoesdesign commented on #11
https://discourse.sustainoss.org/

[2019-06-09 15:49] Erioldoesdesign commented on #11
https://backyourstack.com/ushahidi

[2019-06-09 15:50] Erioldoesdesign commented on #11
https://github.com/velikanov/opensource-candies

[2019-06-09 15:50] Erioldoesdesign commented on #11
https://medium.com/open-collective/sustain-community-meetup-notes-8371e2519942

[2019-06-09 15:52] Erioldoesdesign commented on #11
https://www.ted.com/talks/lessig_nyed

[2019-06-09 15:52] Erioldoesdesign commented on #11
https://everipedia.org/wiki/lang_en/Remix_culture/

[2019-06-09 15:52] Erioldoesdesign commented on #11
https://en.wikipedia.org/wiki/Remix_culture

[2019-06-25 12:21] tuxpiper opened #39 "Add site monitoring and alerting"

[2019-07-08 14:11] Erioldoesdesign commented on #16
@aschwersenz GA code

[2019-07-09 13:47] thesocialdetail opened #40 "Provide access to google analytics to marketing team"

[2019-07-09 14:17] thesocialdetail opened #41 "Content marketing resources"
List any websites or social media account which create content around the following:
- open-source design
- open-source projects
- UX design tools

Topic + link

[2019-07-09 14:56] thesocialdetail commented on #41
Ushahidi Works with Designit and Adobe to Give People a Voice
https://theblog.adobe.com/ushahidi-works-with-designit-and-adobe-to-give-people-a-voice/

Ushahidi hosts TenFour Design Jam with Designit + Adobe at Interaction Week 19
https://medium.com/tenfour/ushahidi-hosts-tenfour-design-jam-with-designit-adobe-at-interaction-week-19-967a9a0cce97

a site for open source
https://opensource.com/about

[2019-07-09 15:15] thesocialdetail commented on #41
https://discourse.sustainoss.org/
https://backyourstack.com/ushahidi
https://github.com/velikanov/opensource-candies
https://medium.com/open-collective/sustain-community-meetup-notes-8371e2519942
https://www.ted.com/talks/lessig_nyed
https://everipedia.org/wiki/lang_en/Remix_culture/

[2019-07-09 15:29] thesocialdetail commented on #26
The updated plan will continue to change as the project develops >
https://docs.google.com/presentation/d/10TY67_rHr2WaegGudJyyvQ5xGu1E-ilGFu22dZWdjZo/edit?usp=sharing

[2019-07-09 15:31] thesocialdetail opened #42 "Key Groups and Communities"
A list of key groups and communities we should engage with directly or via social media

Name of group
Main topic
Links

[2019-07-09 15:32] thesocialdetail commented on #42
DOSE - Design Open-Source Experiment
DOSE is the Design Open-Source Experiment that will allow you to be part of a real Design Team and create stunning projects with Fabio Ferrante and his Team.
https://www.facebook.com/groups/DoseWorkshopGroup/

[2019-07-12 08:29] #33 closed

[2019-07-12 08:29] #7 closed

[2019-07-12 10:28] thesocialdetail commented on #27
Hi @aschwersenz,  here are Favicons I mentioned.

[2019-07-15 15:35] thesocialdetail commented on #41
mozilla

Branding without walls
Blog > https://blog.mozilla.org/OpenDesign/
Repo > https://github.com/mozilla/OpenDesign

[2019-07-15 15:39] thesocialdetail commented on #41
Simple
An app

What it is >
https://medium.com/@dburka/open-source-identity-design-for-simple-4025c6d48acc#4634

Repo > https://github.com/simpledotorg/simple.org

[2019-07-16 23:15] Erioldoesdesign commented on #15
This Mailchimp account has been created and tied to our wordpress site

[2019-07-16 23:15] #15 closed

[2019-07-16 23:20] #24 closed

[2019-07-16 23:22] Erioldoesdesign commented on #27
![favicon.ico](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/a8109b6e-8bc1-4422-a21f-64e44c48e4af)

@aschwersenz here's the .ico file you'll need

[2019-07-17 11:54] Erioldoesdesign commented on #31
Done! Files are here:

![repository-open-graph-template-1.gif](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f9501034-f3a1-4a1f-8b0c-2a09c20f75c7)

![repository-open-graph-template-2.gif](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f7a14ab0-c7a2-4d93-b124-c727f2ff6a8e)

[2019-07-17 11:55] #31 closed

[2019-07-17 11:56] #27 closed

[2019-07-17 11:57] Erioldoesdesign commented on #19
@tuxpiper Is this covered by Bluehost? Assuming yes but can you drop a confirmation comment and close this ticket please?

[2019-07-17 11:58] Erioldoesdesign opened #43 "Open Design Website"

[2019-07-17 11:59] tuxpiper commented on #19
Yep this is taken care of by Bluehost . Can close.

[2019-07-17 11:59] #19 closed

[2019-07-17 11:59] Erioldoesdesign commented on #13
We ended up using Wordpress back end CMS system but hosted by Bluehost for security/infrastructure

[2019-07-17 11:59] #13 closed

[2019-07-17 12:00] Erioldoesdesign commented on #23
Legacy code located in a separate repo here: https://github.com/ushahidi/opendesign-website

this is so we can do template changes to the Wordpress theme etc.

[2019-07-17 12:01] #23 closed

[2019-07-17 12:08] Erioldoesdesign commented on #40
I sent an invite to GA to Your gmail account @thesocialdetail

[2019-07-17 12:08] #40 closed

[2019-07-17 12:11] Erioldoesdesign commented on #17
@thesocialdetail @deaduramilade When we start adding in content to the website I'll lean on you both for SEO optimisation etc.

[2019-07-17 12:14] Erioldoesdesign commented on #14
Completed! closing

[2019-07-17 12:14] #14 closed

[2019-07-17 12:15] Erioldoesdesign commented on #16
GA is on the website and Joy is now on our GA account. Closing!

[2019-07-17 12:15] #16 closed

[2019-07-17 12:32] Erioldoesdesign opened #44 "Social Media"

[2019-07-17 12:33] Erioldoesdesign opened #45 "Articles"

[2019-07-17 12:33] thesocialdetail commented on #17
The [Yoast](https://yoast.com/wordpress/plugins/seo/) plugin will help with this in the start, once the keywords have been agreed. My suggestions are
open source design
open source
open design

[2019-07-17 12:36] Erioldoesdesign opened #46 "Article on opening up a repo and why - Interview with David McNamara & Dale Zak"
Focussing on the kinds of information that would be most interesting and useful for designers regarding things like:

- What a closed repo is
- What an open repo is
-The process development needs to consider when being open source
-Details that are important for designers to understand
- How to find out more information & engage with open source as a subject
- Any more key discoveries via the inte

[2019-07-17 12:38] Erioldoesdesign commented on #17
Sound like good keywords to start with :)

@klickass @thomaskueber any other suggestions on keywords? We're syncing with Adobe content & Designit content on this too.

[2019-07-17 12:54] Erioldoesdesign commented on #35
Can you review these @thesocialdetail and see what you think?

![Twitter banner – 1.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/c3a3b32d-d5e2-4adb-828f-26d2f4101458)

![Twitter banner – 2.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/6cd50edc-7fa7-4192-b15c-179e94d34a03)

![Twitter-banner---3.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc4

[2019-07-17 12:59] Erioldoesdesign commented on #36
Same with these @thesocialdetail if you can review and let me know if they work :)

![fb banner - 1.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/8b608ab4-b649-44fe-a427-15734f449c89)![fb banner – 2.png]

(https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/438766c4-6d3d-4554-9596-3aea2f50c872)![fb banner – 3.png]

(https://images.zenhubusercontent.com/5a6a0d5a4b5806

[2019-07-17 13:01] Erioldoesdesign opened #47 "Pull quote template"
Design template for pull quotes for social medias.

.psd or .xd format for @thesocialdetail to be able to edit/amend quickly for socials.

[2019-07-17 13:33] thesocialdetail commented on #35
Perfect.

[2019-07-17 13:34] #35 closed

[2019-07-17 13:41] thesocialdetail commented on #36
Perfect, uploaded as a sliding banner on the page

[2019-07-17 13:41] #36 closed

[2019-07-17 13:43] thesocialdetail opened #48 "Project one liner"
Mainly need this for the social media platform but thought it would be good to have a agree one line for all content.

This is what I pulled from the 1st article

"Design should be open for all.  A project to create accessible processes for designers to collaborate and contribute to open source software."

[2019-07-17 13:46] thesocialdetail commented on #48
The Twitter bio is maximum 160 characters, you can use this tool to help https://www.lettercount.com/

[2019-07-17 21:01] deaduramilade commented on #48
I think the line you pulled out works

[2019-07-18 13:20] thesocialdetail commented on #48
Sweet.

[2019-07-18 13:20] #48 closed

[2019-07-18 13:50] bellea99 commented on #41
How to use GitHub for designers
https://medium.com/@ElWexicano/how-i-use-github-for-designs-888f2665d6ff

Testing out GitHub as a tool for design collaboration
https://uxdesign.cc/an-illustrated-memoir-of-using-github-for-design-collaboration-79279dd64fa6

Understanding Git (part 1) — Explain it Like I’m Five
https://hackernoon.com/understanding-git-fcffd87c15a3

What exactly is GitHub anyway?
htt

[2019-07-18 14:00] Erioldoesdesign commented on #48
We also have this as a longer explanation when we have more characters to play with:

"The aim of Open Design is to create useful, easy to use, ethical products that have a social impact by using a collaborative multidisciplinary approach that engages designers from all over the world."

[2019-07-18 14:05] thesocialdetail commented on #43
A note of what I did
- adding favicon
- added link to social media platforms
- change to the correct email address
- set up Yoast

[2019-07-18 14:38] thesocialdetail commented on #43
Changed to WP-maintenance plugin from the Bluehost, so we can direct any visitors to the social media platforms until the website is live.

[2019-07-22 10:24] Erioldoesdesign opened #49 "Investigate the back-end Wordpress template code"
Investigate and write documentation on how the Wordpress back-end template code is built so that we can understand how to build new block/modules/content styles in the website.

Code for the wordpress website as of July 2019 is located here: https://github.com/ushahidi/opendesign-website

We need to keep this repo/website source code untouched in case of rollback.

[2019-07-22 11:26] Erioldoesdesign opened #50 "Create the Article block Version #1 vanilla block colour"
Create a block to use across the wordpress site for linked content. Particularly for articles/blogs/pages.

This should be the way for posts to be displays on a page. Each block should be connected to a certain article post which should be migrated to the posts section of the wordpress website.

Original Design:

![Screenshot 2019-07-22 at 12.00.52.png](https://images.zenhubusercontent.com/5a6a0d5

[2019-07-22 11:30] Erioldoesdesign opened #51 "Create the Article block Version #2 white with colour borders"
Create a block to use across the wordpress site for linked content. Particularly for articles/blogs/pages.

Design:

![Screenshot 2019-07-22 at 12.00.56.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/deb2e9ac-012f-4537-92b8-4d3f90de553e)

Should occupy 1/3 of the page % width

There should be an option in each of the 3 core colours for the borders selectable via CMS wordpress o

[2019-07-22 11:33] Erioldoesdesign opened #52 "Create the Article block Version #1 photo + border colour"
Create a block to use across the wordpress site for linked content. Particularly for articles/blogs/pages.

Design:

![Screenshot 2019-07-22 at 12.00.47.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/de9ee09a-ea2e-4921-99b1-f9fd81acbea3)

Should occupy 1/3 of the page % width

There should be an option in each of the 3 core colours for the border selectable via CMS wordpress op

[2019-07-22 12:07] Erioldoesdesign opened #53 "Article on Methodology & workshop framework"
An article that focuses on summarising and promoting the 1st round of methodology and workshop framework that builds up to the events.

The first and second events are confirmed as Cheltenham #130 and Bangalore #129

Third event is pending for Nairobi #131

The methodology document is here: https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/edit?usp=sharing

Workshop F

[2019-07-22 13:32] deaduramilade commented on #46
https://docs.google.com/document/d/1QMJRPgiQC-fXQz6GwBjPGRfvpxK6SIZdLkXPJv2Ds5g/edit?usp=sharing

[2019-07-22 13:34] deaduramilade commented on #46
Here's the link to interview notes https://docs.google.com/document/d/1K0EIFfbh1tEpbA39LLlsLgitWF2kcpXyOZfxHNHhvX8/edit?usp=sharing

[2019-07-23 09:18] Erioldoesdesign opened #54 "Article: Our findings from our desk research & interviews"
A short article focusing on the biggest learnings from our desk research/interviews with design genius.

To be largely taken from our notes on the interviews, trello board of answers to the questions about open design as well as the methodology.

https://trello.com/b/CVSlRaj8/open-design-questions
https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing
http

[2019-07-23 09:23] Erioldoesdesign opened #55 "Button block for wordpress website"
The wordpress website doesn't currently have a block that is a button solo. There are templates for text + button.

Current button styles:
![Screenshot 2019-07-23 at 10.19.53.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/9241f883-d498-46a0-95e4-6cb260d57003)
![Screenshot 2019-07-23 at 10.19.44.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/a8e9fcc4-1d49-4ee

[2019-07-24 14:19] vbhv opened #56 "It's not clear how to sign up"
Steps to repeat:
1. click on "sign up to opendesign"
2. The page scrolls down
3. User is meant to enter their email and subscribe - but this is the step thats not clear since there is no visual feedback after the scroll.

Couple of solutions:
1. move the signup email form to the position where the signup button is.
2. Label both the buttons with same CTA
3. Once scroll is done visually flash the w

[2019-07-24 14:42] #25 closed

[2019-07-24 14:42] #32 closed

[2019-07-25 13:14] thesocialdetail opened #57 "Social media one pager"
An outline of key content and links for any partners of the project.

[2019-07-25 15:31] thesocialdetail commented on #57
https://docs.google.com/document/d/1gYR_01OoH-xG29c5qb3uOwvF20eBFlxWtz-JFw0an_Y/edit?usp=sharing

[2019-07-25 15:58] thesocialdetail commented on #17
Not able to use Yoast as it is not able to read the page content, I think the solution requires code https://kb.yoast.com/kb/error-text-contains-0-words/

[2019-07-25 16:03] thesocialdetail opened #58 "**BUG** Unable access SEO with Yoast"
Yoast reports the pages as not having any content.
Solution
Add content to the default editor and the word count will update automatically.>
https://kb.yoast.com/kb/error-text-contains-0-words/

This issue is the bug from https://github.com/ushahidi/opendesign/issues/17

[2019-07-25 16:47] Erioldoesdesign commented on #17
@aschwersenz I think the above comment from Joy will require you to look at Andreas

[2019-07-25 16:49] Erioldoesdesign commented on #58
@aschwersenz

[2019-07-26 07:24] Erioldoesdesign opened #59 "Mailchimp signup form on facebook"
https://mailchimp.com/help/add-or-remove-a-signup-form-on-your-facebook-page/?_ga=2.166289790.1983008573.1563954414-1959942594.1563954414

Let's try and get a signup form embedded into our facebook page.

[2019-07-26 11:34] tuxpiper commented on #39
Monitoring with StatusCake and Alerting through PagerDuty to on-call team and Slack channel #osd_incidents  set up and tested

[2019-07-26 11:34] #39 closed

[2019-07-26 12:59] thesocialdetail commented on #59
Cool, I will need access to the MailChimp. To confirm: the aim would be to collect details only to email people about the events right or will we be starting a newsletter?

[2019-07-26 13:02] Erioldoesdesign commented on #59
@thesocialdetail emailing about events. The CTA is 'Join the movement' so it's intentionally broad.

We identified early on that while a newsletter would be great, it's a lot of work to maintain and we don't really want to re-hash content from other sources like many other projects do

[2019-07-26 13:04] Erioldoesdesign commented on #59
Sending @thesocialdetail Mailchimp login details via DM

[2019-07-26 15:52] thesocialdetail commented on #42
Red Hat
https://www.redhat.com/en
Red Hat is the world's leading provider of enterprise open source solutions, including high-performing Linux, cloud, container, and Kubernetes technologies.

Open source
https://opensource.com/
We shine a light on the people and ideas in our businesses and communities who are practicing the...

[2019-07-28 19:58] deaduramilade commented on #17
Agree with Joy on the keywords. I'll be writing the articles with SEO and keyword optimization in mind

[2019-07-29 14:52] Erioldoesdesign commented on #47
This is completed and here are the files. I have to have them in an google drive folder as they are over 15MB

https://drive.google.com/drive/folders/143F5GG03UZVJYU2XoWf40WkwvlewPlqn?usp=sharing

Also Github doesn't allow uploading of .xd files and that's a key problem for Open Design in general.

[2019-07-29 14:53] Erioldoesdesign commented on #47
@thesocialdetail can you review these and let me know whether you're happy? :)

[2019-07-29 14:55] klickass commented on #47
@Erioldoesdesign Is it intentional that the font for the logo differs from the one on the website?

[2019-07-29 15:01] Erioldoesdesign commented on #47
@klickass it should be the same the font is called Inter and looks like this on the pull quote:

![Screenshot 2019-07-29 at 18.00.54.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/4f5ef6bd-0a86-4724-958a-c496ade78643)

and like this on the website header for me:

![Screenshot 2019-07-29 at 18.01.03.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/597403bb-d89a

[2019-07-29 15:04] klickass commented on #47
![Screenshot 2019-07-29 at 17 02 18](https://user-images.githubusercontent.com/2110595/62059086-db562980-b222-11e9-9517-367c8734e9fc.png)

![Screenshot 2019-07-29 at 17 03 37](https://user-images.githubusercontent.com/2110595/62059095-e01add80-b222-11e9-931b-eb8d35ca4ce8.png)

[2019-07-29 15:05] Erioldoesdesign commented on #47
Ah I know what's happening. People who don't have the inter font are seeing a default system font because of the font not being outlined in teh SVG. okay fixing.

[2019-07-29 15:05] klickass commented on #47
@Erioldoesdesign Thought of a webfont issue but this is the actual SVG as it seems. (Console shows me some broken jquery reference but assuming this doesn't have anything to do with the font being off).

![Screenshot 2019-07-29 at 17 05 42](https://user-images.githubusercontent.com/2110595/62059238-1fe1c500-b223-11e9-8c63-9c10baef64d2.png)

[2019-07-29 15:06] Erioldoesdesign opened #60 "**BUG** Font is not outlined in the logo SVG and displaying differently for people without the inter as a system font."
![62059095-e01add80-b222-11e9-931b-eb8d35ca4ce8.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/52b6daa3-9810-49ce-930e-3ea122c9df85)

![62059238-1fe1c500-b223-11e9-8c63-9c10baef64d2.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/d6f37c8f-232f-4bc3-b47b-f59bd3f0a644)

Logo displays as a different font due to the SVG not being expanded.

[2019-07-29 15:16] Erioldoesdesign commented on #60
@klickass can you test again please?

[2019-07-29 15:17] klickass commented on #60
MIght be some server side caching (used a different browser) as I am still seeing the same problem @Erioldoesdesign

[2019-07-29 15:24] Erioldoesdesign commented on #60
Okay - I'm gonna try uploading via a different file name as sometimes Wordpress doesn't like you using the same file name for versions of files

[2019-07-29 17:13] Erioldoesdesign commented on #17
@thesocialdetail Just flagging, The Designit team will not be able to look at this until the week of the 5th at the earliest. Just wanted to give you an update :(

[2019-07-29 17:15] Erioldoesdesign commented on #60
Fixed :D:D:D

[2019-07-29 17:15] #60 closed

[2019-07-29 17:16] Erioldoesdesign commented on #47
Fixed the bug described above that moved into a new ticket #60

[2019-07-29 17:20] Erioldoesdesign commented on #46
Added in 1st and 2nd round of support and review :) this is almost ready to go!

@klickass FYI our second article.

[2019-07-29 17:26] Erioldoesdesign commented on #38
Book title: Open Design: Why Design Cannot Remain Exclusive
Book author/s: by Bas Van Abel,  Lucas Evers, Roel Klaassen, Troxler Peter
Publishers: BIS Publishers
Year published: Published May 1st 2014
Relevant chapters: All
Relevant quote in "quote marks"

Open Design Now looks at design in the new networked world. Design is becoming an open discipline, in which ideas are shared and products are b

[2019-07-29 17:29] Erioldoesdesign commented on #43
The website is currently blocked by issue #18.

[2019-07-29 17:39] sethburtonhall commented on #55
@Erioldoesdesign you mentioned that you would like these blocks to be reusable throughout the site ... but where specifically do you need them on the site?

[2019-07-29 18:52] Erioldoesdesign commented on #55
So I want to be able to use buttons across other pages in the site. So at the moment we have 3 pages:

Home: https://opendesign.ushahidi.com/
Article 1: https://opendesign.ushahidi.com/design-should-be-open-for-all/ (which is actually using a page template and not a post)
Privacy policy: https://opendesign.ushahidi.com/privacy-policy/

I'd like to be able to use buttons across pages and posts

[2019-07-30 08:20] Erioldoesdesign commented on #47
@thesocialdetail can you look at the graphics and approve please?

[2019-07-30 08:39] Erioldoesdesign opened #61 "Points from the first blog to add to the highlight story for Facebook"
Use the Launch article to inform a highlight story on Facebook

https://opendesign.ushahidi.com/design-should-be-open-for-all/

Use the master XD document to create visual assets for this work

XD Master file: https://drive.google.com/open?id=1aKhyOOCgzjxq-gEvH_eM1XlJxlCgN-Sn

[2019-07-30 08:52] Erioldoesdesign opened #62 "Event 1: London"
Issues that describe the 1st OSD event to be held in London

[2019-07-30 09:32] vbhv commented on #46
reviewed and posted my comments @Erioldoesdesign

[2019-07-30 10:26] Erioldoesdesign opened #63 "Adobe's Article for their own blog and comms"
Aodbe asked us to answer several questions about the project via email.

Eriol's placed in a document here:

https://docs.google.com/document/d/1KDyxwc-bSSEZMjyb_7-L_OYQPVOs3A2nV6gSQO_IQEg/edit?usp=sharing

Eriol has asked for @aoduor 's input (mostly from an 'a-oking that I have communicated the right thing from an Ushahidi org perspective'

@thomaskueber and @klickass it'd be good to make sure y

[2019-07-30 11:10] Erioldoesdesign commented on #63
The first draft of these answers are complete and I'm going to notify Adobe via email that we're reviewing the answers internally.

[2019-07-30 11:48] klickass commented on #63
Totally fine with the provided answers, nothing to add, found one glitch (left a comment)

[2019-07-30 13:38] vbhv commented on #63
@Erioldoesdesign good to go!

[2019-07-30 15:13] thesocialdetail commented on #41
https://blog.mozilla.org/opendesign/
https://www.gv.com/sprint/
https://discourse.opensourcedesign.net/
https://design-system.service.gov.uk/community/propose-a-component-or-pattern/
https://beta.nhs.uk/service-manual/
https://design.wikimedia.org/style-guide/design-principles.html
https://www.mediawiki.org/wiki/Micro_Design_Improvements

[2019-07-30 15:57] thesocialdetail opened #64 "Eventbrite banner template for the upcoming events"
2160 x 1080px (2:1 ratio—twice as wide as tall) image that's no larger than 10MB

[2019-07-30 18:18] thesocialdetail opened #65 "Add Facebook pixel to website code"
Find the <head> </head> tags in your web page code, or locate the header template in your CMS or web platform.

Paste the pixel code at the bottom of the header section, just above the </head> tag. Facebook pixel code can be added above or below existing tracking tags (such as Google Analytics) in your site header.

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMe

[2019-07-30 19:43] thesocialdetail commented on #59
Added to the FB page, had to edit the form view to hide the HTML options.

[2019-07-30 19:43] #59 closed

[2019-07-31 08:39] Erioldoesdesign commented on #64
Banner variations:

![Eventbrite banner standard 1](https://user-images.githubusercontent.com/11681324/62196577-fb9ef900-b386-11e9-876e-3c3785c16ee5.png)
![Eventbrite banner standard 2](https://user-images.githubusercontent.com/11681324/62196578-fb9ef900-b386-11e9-8eb0-939d11335203.png)
![Eventbrite banner standard 3](https://user-images.githubusercontent.com/11681324/62196579-fb9ef900-b386-11e9-9

[2019-07-31 08:40] Erioldoesdesign commented on #64
I went with a few 'event' specific texts/titles in the last one.

Please let me know what you think @thesocialdetail

[2019-07-31 08:43] thesocialdetail opened #66 "Social post for one pager"
Resizing the current banners we have in the XD file to Twitter and Facebook post size. I have added the sizes in the document

[2019-07-31 08:57] thesocialdetail commented on #64
The events related ones will work great. when we confirm the location 100%, could the location detail be added to the design? @Erioldoesdesign

[2019-07-31 08:57] Erioldoesdesign commented on #65
I think we put this code here:

<img width="1100" alt="Screenshot 2019-07-31 at 11 55 35" src="https://user-images.githubusercontent.com/11681324/62198472-5dad2d80-b38a-11e9-9269-9dc1eb330ef2.png">

[2019-07-31 09:01] thesocialdetail commented on #65
Forgot to close this last night mange to set it up using a plugin. Just checked its received 8 hits so up and working.

[2019-07-31 09:01] #65 closed

[2019-07-31 09:26] thesocialdetail commented on #57
@Erioldoesdesign 99% done, can you have a look and let me know what you think?

[2019-07-31 09:59] thesocialdetail commented on #47
Perfect

[2019-07-31 09:59] #47 closed

[2019-07-31 10:06] thesocialdetail opened #67 "Plan and schedule social media content for AUG"
Content will be planned in the sheet below
https://docs.google.com/spreadsheets/d/1LLWowp5uyyEelXt5s_dkftekAT_Ws6_6CI7TdIbIF9I/edit#gid=2012172617

- scheduled using Hootsuite

If you would like a content you have found to go out in Aug, comment with
- text
- link (if need)
- Image (Facebook does not always pull images from the links)

[2019-07-31 10:27] Erioldoesdesign commented on #66
In the XD document?

I'll pull down the file from google drive and 'merge' the changes :D

[2019-07-31 10:30] thesocialdetail commented on #66
Request no longer needed.

[2019-07-31 10:30] #66 closed

[2019-07-31 10:33] Erioldoesdesign commented on #64
@thesocialdetail Yes! I'll add to the master XD file now because I thought of a cute way to do that!

[2019-07-31 10:58] Erioldoesdesign commented on #64
Please tell me whether you think this is as adorable as I think it is:

![Eventbrite banner unique 1 – 1](https://user-images.githubusercontent.com/11681324/62206743-2abf6580-b39b-11e9-8d1f-dd643b8e34fd.png)
![Eventbrite banner unique 1 – 2](https://user-images.githubusercontent.com/11681324/62206744-2abf6580-b39b-11e9-9f59-947f0e14385e.png)
![Eventbrite banner unique 1](https://user-images.github

[2019-07-31 11:00] Erioldoesdesign commented on #64
Folder location for .PNGs

[2019-07-31 11:46] thesocialdetail opened #68 "GDPR check box for Mailchimp form on Facebook"
On the Mailchimp form, there should be a way to add an opt-in option which will then appear on the facebook tab. If not we can create a new form just form Facebook signups. Need t look more into this

[2019-08-01 05:05] vbhv commented on #26
Can someone please post a link to the new document?

[2019-08-01 09:46] Erioldoesdesign commented on #17
The bug with yoast is described in this issue now so I'm closing this one which was about the Yoast set up: https://github.com/ushahidi/opendesign/issues/58

[2019-08-01 09:46] #17 closed

[2019-08-01 09:48] Erioldoesdesign commented on #63
Waiting on @aoduor to do a final approval for this and then we can push it to Adobe

[2019-08-01 09:56] klickass commented on #64
Recommending to…

- reduce contrast/opacity for the bkgnd images by 10 or 20%, just to flat them out a bit more
- move down the image with Thomas to get more faces in the view
- add "Seattle, USA" wherever applicable (as it happened so why not use it)
- do something to make the red dot in our logo visible

[2019-08-01 09:57] aoduor commented on #63
Looking good. Go for it

[2019-08-01 12:15] Angamanga commented on #18
@Erioldoesdesign I have updated the form and made the checkbox required. The error-message does not look like in the designs though, that requires more customisations. Now it looks like this (in various browsers and mobile):
![IMG_C8FA1DDD3B17-1.jpeg](https://images.zenhubusercontent.com/5a6f2bce4b5806bc2bc4b158/2caf9d7b-8fce-49db-92fe-de2cb0a7a8f0)![Screenshot 2019-08-01 at 14.12.13.png](https://

[2019-08-01 13:15] Angamanga commented on #58
@Erioldoesdesign This is fixed now so Yoast is ready to be used. I have not added any keywords or done any other config than fixing the error with pages not having content. Let me know if you want that fixed too :).

[2019-08-01 13:57] Erioldoesdesign commented on #64
reduce contrast/opacity for the bkgnd images by 10 or 20%, just to flat them out a bit more
move down the image with Thomas to get more faces in the view
^^^ I can do this that's fine

add "Seattle, USA" wherever applicable (as it happened so why not use it)
These banners are for events that are going to happen, not that have happened in the past.

do something to make the red dot in our logo visi

[2019-08-02 14:53] Erioldoesdesign commented on #58
@thesocialdetail can you confirm this is fixed for your workflow plz?

[2019-08-02 14:55] Erioldoesdesign commented on #63
Sending the document to Adobe :D

[2019-08-02 14:55] #63 closed

[2019-08-02 15:03] Erioldoesdesign commented on #18
This has been QA'd by a few various people and the bugs are inconsistent so I'm happy closing this!

I'll create an improvement ticket re. error styling that's like a P4.

THANKS ANNA YOU ROCK

[2019-08-02 15:03] #18 closed

[2019-08-02 15:21] thesocialdetail commented on #58
Working and added keywords

[2019-08-02 15:21] #58 closed

[2019-08-02 18:28] klickass commented on #46
Finally came to read it. LGTM!

[2019-08-05 06:55] thesocialdetail commented on #57
Completed and sent

[2019-08-05 06:55] #57 closed

[2019-08-05 07:00] thesocialdetail opened #69 "Live tweet from FOSS4G Bucheres"
Twitter take over while you are at the conference
Key tips
- Use the event hashtag if they have it
- sign of the tweets with " EF" or your name to make more personal

Wish list
- Pictures or video of you on stage

This request if only able to

[2019-08-05 07:04] thesocialdetail opened #70 "'Witness' brief for events"
As we will be approaching people to speak at the event about their experience of a crisis thought it would be good to have a doc outlining what we would like to for them.

https://docs.google.com/document/d/1CVkht7rt2_cOUrYfaY4c5ekjgyzwiHFdRRM6cJy-020/edit?usp=sharing

[2019-08-05 07:10] thesocialdetail opened #71 "Create Eventbrite for London 28th Sept"
Question to ask
- Do you have any Food and allergies
- Accessibility of the event

This is an all-day event, however, you will be required to also complete design sprint (link to what it is).
 - Are you able to commit a min of 10-hour remote work after the event?
Do you have the following
- A Laptop
Download Adobe XD
Download Mural on to your phone

Tickets types
1 The Researcher or UX
2 Visual De

[2019-08-05 07:13] thesocialdetail opened #72 "Write and design the pre event pack to sent attendees one week before event"
Prepack should answer the following questions

Why are we doing the project and event?
Things you will need
What we testing and explain the event is to test and idea
Methodology

[2019-08-05 07:18] thesocialdetail opened #73 "Approach large orgs and unis to send team to the London event"
Aim is to have a whole team from a company attend the event together.

This Team Prepack could be emailed to the companies

This is the idea
Event details
What the team will need
Team ticket option

[2019-08-05 07:21] thesocialdetail opened #74 "Create information need at the event pack"
Event pack
Teams
Outline of the day
Tools you will need
Slack?
Contact details for the OSD team
Outline of the post-event sprint
Links
-Tenfour dock
Outline of role types
The methodology
Github repo for TenFour
Mural.com
Adobe XD

[2019-08-05 07:22] thesocialdetail opened #75 "Create post event email or pack"
Post pack
Feedback form
Other projects
Repo for OSD

[2019-08-05 07:25] thesocialdetail opened #76 "Find venue for London event"
For 28th Sept

current list to reach out to

Mozilla via https://twitter.com/Teoli2003
A co-working space: https://twitter.com/workdotlife/
These folks might help but not sure what venue :https://twitter.com/skillsmatter/
Newspeak House have done civic tech hackathons before and Ushahidi friendly: https://twitter.com/nwspk/
Nexmo on community@nexmo.com  via: https://twitter.com/sammachin
These fol

[2019-08-05 07:41] thesocialdetail opened #77 "find other OS projects which need designers"
to be added to the post event email/ pack

[2019-08-05 12:14] Erioldoesdesign commented on #49
@Angamanga Do you feel like this could be closed? did you get to look at the code?

[2019-08-05 12:21] Angamanga commented on #49
@Erioldoesdesign I have briefly skimmed it so lets close. I'll take closer look if needed later on :)

[2019-08-05 12:21] #49 closed

[2019-08-06 13:14] Erioldoesdesign commented on #46
@deaduramilade This is ready to be added into a page in the wordpress website :)

[2019-08-06 13:16] Erioldoesdesign opened #78 "Designit document feedback for Case Study"
Completing a series of questions in a document from Designit in orde to have the project featured as a case study on their website.

Document: https://paper.dropbox.com/doc/Ushahidi-Case-study-questions--AiEkiyZaFQ4JhusWGyiZw7sAAg-pxxHEaL4AVoO2JL9KDSb0

Example case study webpage: https://www.designit.com/work/a-premium-self-service-food-and-beverage-experience

[2019-08-06 13:17] Erioldoesdesign commented on #78
@thomaskueber Can you look over the questions included in the document sent by Lara and answer/fill in any extra detail I may have overlooked?

Please feel free to edit my language to suit Designit's case study needs as you see fit :)

[2019-08-06 13:25] deaduramilade commented on #46
I've added to wordpress already

On Tue, Aug 6, 2019 at 2:14 PM Eriol Fox <notifications@github.com> wrote:

[2019-08-06 13:28] Erioldoesdesign commented on #46
@deaduramilade Ah I see it now :) Thanks!

[2019-08-06 13:28] #46 closed

[2019-08-06 15:28] vbhv commented on #72
@Erioldoesdesign we should pick this up as we discuss the methodology. When would you like to start working on the methodology? If you want me to focus on a specific part then please let me know.

[2019-08-07 07:03] Erioldoesdesign opened #79 "Navigation menu for Open Design"
As the Open Design website grows in terms of articles and content, we'll be needing a navigation menu in order for visitors to explore all the information we have contained in the website.

In the top header bar of the website we should have the sections/menu items of:

'Articles' (feed via posts)
'Methodology' (Standard page)
'Events' (Standard page)
'Join Open Design' (Mailing list form)
'Contac

[2019-08-07 09:59] Erioldoesdesign opened #80 "Launch of Berlin event article"
The information about the Berlin event in short article form that includes:

Link to the Methodology
Link to the workshop framework
What the event will focus on
Details about the event, location, time, needs
Whats included in the event
Link to register

Work closely with @Erioldoesdesign and @thomaskueber and Lara from Designit to write this article

[2019-08-07 14:09] thesocialdetail commented on #64
I am happy with the addition of the location. Think they are good to go.

[2019-08-07 16:39] Erioldoesdesign opened #81 "Launch of London event article"

[2019-08-07 16:39] Erioldoesdesign opened #82 "Berlin event"

[2019-08-07 19:15] Erioldoesdesign commented on #37
The font used in the open design project is https://github.com/rsms/inter/

[2019-08-07 19:55] Erioldoesdesign commented on #8
Building a list of events here because open source. Duh.

https://fossasia.org/

[2019-08-07 19:59] Erioldoesdesign commented on #8
https://eventyay.com/

https://events.ccc.de/camp/2019/wiki/Main_Page

[2019-08-07 20:01] Erioldoesdesign commented on #8
https://aceu19.apachecon.com/

[2019-08-07 20:52] Erioldoesdesign commented on #42
Name: Open Design

Main topic: "We think the best way to improve the design industry is to work in the open."
A manifesto about 'working openly'

Open Source Design Manifesto
I will:

find opportunities to design in the open
share my design experiences; both the good and the bad
find time for meaningful projects
openly participate in design discussions
work with other designers by choice
improve m

[2019-08-07 20:54] Erioldoesdesign commented on #41
Topic: User Centred Design and the use of design language. Is it adequate to describe the functions and purpose of design?

"Has the user come to mean customer?"

Link: https://medium.com/@eilishmcvey/a-critique-of-user-centered-design-have-ucd-practices-hindered-an-ecologically-sustainable-future-da0c2b1c2ef8

[2019-08-07 20:55] Erioldoesdesign commented on #42
Name: Open Source Diversity

Main topic: For more diversity & inclusion in free & open source software communities. First steps to help make your open source project more friendly and inclusive

Link: https://discourse.opensourcediversity.org/

[2019-08-07 21:18] Erioldoesdesign commented on #12
Extensive research done to catalog whitepapers/publications that reference usability in open source: https://github.com/victoria-bondarchuk/List-of-Academic-Research-on-Usability-in-FOSS

[2019-08-08 08:08] Erioldoesdesign commented on #78
@thomaskueber will you close this when you're done contributing to Designit's case study doc

[2019-08-08 08:55] Erioldoesdesign commented on #10
Notes from Vaibhav:

S - Specific
M - Measurable
A - Attainable
R - Relevant
T - Timely

for community engagement

for open source communities

Avoid vanity metrics, define vanity metrics
    page views

Define core metrics

Activity and/or Engagement (no. and nature of new OSD projects, discussions, events, retweets, shares, reposts, cross links, time spent)

Community Growth (Retention and Growt

[2019-08-08 09:29] thesocialdetail commented on #10
Social media metrics

- Reach is the total number of people who see your content.
- Engagement the number of interactions people have with your content (i.e.: likes, comments, shares, retweets, etc.)
- Impression are the number of times your content is displayed, no matter if it was clicked or not.

Measured and compared monthly

Aim to increase by 10% to 20% each month

No set number the number o

[2019-08-08 09:30] thesocialdetail opened #83 "Google analytics not tracking"
Need to check and update

[2019-08-08 09:48] Erioldoesdesign commented on #83
Something I can do here?

[2019-08-08 09:58] thesocialdetail commented on #83
The monster plugin was turn off, think I fixed it but wait to see if any data comes in

[2019-08-08 11:52] vbhv commented on #10
### KPI Recommendations for OSD Website

- **Measure on a weekly basis.**

- **Measure for the duration when some special activity was undertaken. For example new interviews are posted.**

1. Growth
1.1 Number of unique users (always compare to a previous period)
1.2 Number of returning users (always compare to a previous period)

2. Engagement
2.1 Time spent on site (is it increasing/decreasing c

[2019-08-08 12:14] vbhv commented on #10
**TODO Eriol and Vaibhav: KPIs For Events**

[2019-08-08 16:15] Erioldoesdesign commented on #5
https://fosdem.org/2019/schedule/event/panel_more_designers/

[2019-08-08 16:16] Erioldoesdesign commented on #5
https://www.youtube.com/watch?v=4OE6HNPf93c&amp=&list=PLe-w9p--aJKvxqmg9EO_SrPTVWhl65vsS&amp=&index=11&amp=&t=0s

[2019-08-08 16:17] Erioldoesdesign commented on #5
https://github.com/victoria-bondarchuk/List-of-Academic-Research-on-Usability-in-FOSS

[2019-08-08 16:35] Erioldoesdesign commented on #68
This was solved by @Angamanga in a separate bug issue....not sure why this one exists so closing as it's a duplicate.

[2019-08-08 16:37] Erioldoesdesign commented on #68
@thesocialdetail can you provide a link to the facebook implementation and a series of screenshot for the issue describing what you need from a developer (if anything?)

[2019-08-08 18:03] deaduramilade commented on #54
https://docs.google.com/document/d/1qz0W4EwmmvJJz3bG0HZV5IrxpxUExEdEjJ88Vm7uAPs/edit?usp=sharing draft ready

[2019-08-09 13:10] thesocialdetail commented on #83
Tested and now working

[2019-08-09 13:10] #83 closed

[2019-08-09 14:03] thesocialdetail opened #84 "404 page creation"
People seem to be finding a 404 page but I don't think we have one

<img width="564" alt="Screenshot 2019-08-09 at 14 57 37" src="https://user-images.githubusercontent.com/50371469/62784543-9e0d5980-bab6-11e9-8764-2b6c7d3b0a52.png">

[2019-08-09 14:17] Erioldoesdesign commented on #8
https://opensourcedesign.net/events/

[2019-08-09 14:48] Erioldoesdesign commented on #54
@thomaskueber @klickass Ready for us to review

[2019-08-09 15:03] Erioldoesdesign commented on #10
Brain dump from meeting:

*Jay: *
Most powerful KPI from a funding perspective is the reach we have and the impact we have.
Build a set of KPIs around things like newsletter features, sign-ups, how do these perform, How many people get involved, How many mins on an article.

'Higher level goals'
Funnel 1: Newsletter & Social outreach & Article = People that sign up for the list and/or join the rep

[2019-08-12 14:34] thesocialdetail opened #85 "Contact Phoenix from Twitter to arrange "GitHub for Designers" live stream"
Phoenix offered to do a live stream about how designers can use GitHub in reply to our Twitter poll.
https://twitter.com/opendesignis/status/1159402289091809282

[2019-08-12 19:35] Erioldoesdesign commented on #64
Updated the .pngs with Jay's suggestions located in here: https://drive.google.com/drive/u/1/folders/18m96zggPF4iSAKDOMT8ceYtBKYfUfsFx

![Eventbrite-banner-London.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/faef296b-1b53-416f-b0c3-e35abe9682cc)![Eventbrite-banner-Berlin.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/89b77bf6-cc67-4203-af98-4dd27d930b11)![

[2019-08-12 19:35] #64 closed

[2019-08-12 22:12] Erioldoesdesign commented on #55
Issue updated with button styles/layouts regarding columns

[2019-08-12 23:32] Erioldoesdesign commented on #77
I have a few conversations in the pipeline on this. They will be small OSS projects before the larger Humanitarian orgs come on board.

How would you like these formatted @thesocialdetail ? Links to the project and also a short description?

[2019-08-12 23:33] Erioldoesdesign commented on #78
Reviewed. In final edits with Thomas then ready for publish!

[2019-08-13 10:00] Erioldoesdesign commented on #54
@vbhv Ready for review

[2019-08-14 01:35] danisyellis opened #86 "small grammatical error on the website"
Hi all. So excited you're doing this!
I just wanted to let you know about a small grammatical error on the homepage.

In the color-changing square, you say "Non-profit's need open source." The apostrophe makes it possesive, but you just want a normal plural. It should read: "Non-profits need open source."

I didn't see a public repo for the website. If I'm wrong, let me know and I can make the cha

[2019-08-14 11:17] Erioldoesdesign commented on #8
Hey @vbhv it's a boring task but do you think you could move the data included here: https://docs.google.com/document/d/1214qhM8TNCHthcBI3RwbHlI4hpUjWTbWhXpVcPXp7eM/edit#heading=h.rj4isr1d58vp

Into the main body of this issue? I'd like to move away from open google docs and into OSS issues for the project.

[2019-08-14 11:17] Erioldoesdesign opened #87 "Events"

[2019-08-14 11:19] Erioldoesdesign commented on #86
@vbhv think you could look into this change?

[2019-08-14 12:04] thesocialdetail opened #88 "Create quotes card of Principles for OSD"
The Principles for OSD are still being written once completed, can create quote card using the master Adobe XD file and share on socials on-going

[2019-08-14 12:40] Erioldoesdesign commented on #30
@klickass @vbhv  @thomaskueber this is what we'll be looking at in the meeting today: https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/edit?usp=sharing

There is still some work needed on this....especially in the area 'Specific methods employed' where the ways in which we're capturing research to inform further iterations of the methodology are concerned.

Also the

[2019-08-14 14:14] vbhv commented on #86
@Erioldoesdesign is this for me to do? Can you provide the link to the admin page. I have my password and I need to try it out.

[2019-08-14 14:21] thesocialdetail commented on #45
List from the social media one pager @deaduramilade

Design should be open for all.
Opening up a Github repo and why: An Interview with Ushahidi’s developers
Investigative research results from interviews
1st Methodology & workshop framework
Launch of Berlin event article
Publish findings from Berlin workshop
Launch of Nairobi event article
Publish findings from Nairobi workshop
Launch of London e

[2019-08-14 14:47] thesocialdetail opened #89 "add hotjar eye tracking/cursor tracking on articles."
https://www.hotjar.com/pricing

Will create an account on the free plan and add the hot jar plugin to WordPress.

[2019-08-14 14:49] Erioldoesdesign opened #90 "What is success for an article?"
From your experience, what means 'success' for a piece of written content?

e.g. Shares of articles, comments, people writing response articles, getting people involved.

[2019-08-14 15:06] thesocialdetail commented on #89
Installed and will share the password with the core team

[2019-08-14 15:06] #89 closed

[2019-08-14 17:34] Erioldoesdesign opened #91 "Create a design for a post/article page"
As posts get linked up to their own individual page there will need to be designs available for the lists of articles as well as individual articles.

Article list page should support:

Essential
- A grid of 3x width blocks that click through to an individual article (empty space when there is not a multiple of 3 grid of blocks e.g.
▢▢▢
▢▢▢
▢

e.g.
▢▢

e.g.
▢▢▢
▢

- A full-width block that clicks

[2019-08-15 10:48] klickass commented on #54
Reviewed and suggested quite a couple of edits. Added formatting to transform this into more of a "guide"/fact sheet, which also makes this piece easier to read. Love the style and language but believe we have to work on using easier language.

[2019-08-15 13:54] Erioldoesdesign commented on #8
https://fosdem.org/2020/news/2019-08-13-call-for-participation/

[2019-08-15 14:48] klickass commented on #30
Did a pass on the methodology. Still have to do a pass on the framework.

[2019-08-15 16:23] thesocialdetail commented on #68
@Erioldoesdesign I think its something that needs to be changed in Mailchimp

To submit to the newsletter on Facebook the form comes up
https://www.facebook.com/OpenDesignIs/app/100265896690345/

but I can't find a way in Mailchimp to add a GDPR question

![Screenshot 2019-08-15 at 17.22.11.png](https://images.zenhubusercontent.com/5d2f38a1bcefe90a8aeb0e72/6d9ed88b-896a-4305-8680-044226fb459f)

[2019-08-15 16:24] thesocialdetail commented on #26
completed

[2019-08-15 16:24] #26 closed

[2019-08-16 14:58] Erioldoesdesign opened #92 "Genius Interview #2 - HL"
No photos of notebook as I took notes directly in the doc while on the call.

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-16 14:58] Erioldoesdesign commented on #92
Raw notes:
What’s in it for them?
What’s volunteering and what’s paid work - where is the line?

Ubuntu and Mozilla - logo changes which are both terrible and okay depending on your view point.

Within this space you need to be careful ‘Here be dragons’ as some designers are cagey about offering designs and some OSS projects are cagey about design involvement.

Some grassroots Ushahidi deployers h

[2019-08-16 14:59] Erioldoesdesign opened #93 "Genius Interview #3 - NW"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-16 15:00] Erioldoesdesign commented on #93
Raw Notes:

And issue I’ve grappled with for most of my career.

Master in interaction design - italy averia - designed cola bola two space hoppers as haptic controls for a character player - pac man - had to share controls. Silly idea but with a  seriousness. Toured around design fairs, furniture fair, bbc.

Collaborative mental model <- paper

None completed a level except for twins. They didn’t

[2019-08-16 15:00] Erioldoesdesign commented on #93
Some docs shared by NW:

[https://app.zenhub.com/files/179710835/9a8fe5e9-d74c-4ee3-864c-732efaedda4a/download](https://app.zenhub.com/files/179710835/9a8fe5e9-d74c-4ee3-864c-732efaedda4a/download)

[https://app.zenhub.com/files/179710835/078fb259-c0cc-4e01-a7c8-139c290dbe27/download](https://app.zenhub.com/files/179710835/078fb259-c0cc-4e01-a7c8-139c290dbe27/download)

[https://app.zenhub.com/fil

[2019-08-16 15:03] Erioldoesdesign opened #94 "Genius Interview #4 - HH"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-16 15:03] Erioldoesdesign commented on #94
Raw notes:

Connected to HR challenges 9+10 work groups in many countries, a diaspora of organisations involved in humanitarian efforts.

They conducts a similar kind of event more focussed more on the initial project stages so:
Isolating a design problem
Discovering a technological solution (if current) prefer OSS but also if not contact org to try to encourage OSS.
Discover and train on the tech

[2019-08-16 15:04] #92 closed

[2019-08-16 15:04] #93 closed

[2019-08-16 15:04] #94 closed

[2019-08-16 15:05] Erioldoesdesign opened #95 "Genius Interview #5 - CE"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-16 15:05] Erioldoesdesign commented on #95
Raw notes: UNHCR innovation service

Org at a crossroads needed to do more innovations. Series of iterations Product centric approach to innovation. Ended up at an approach that focuses on values that drive innovations.

Culture & capacity building. Going beyond the product or system to make the ‘thing’ more sustainable. Future and foresight tech. Emerging tech & practices.

AI to predict displace

[2019-08-16 15:05] #95 closed

[2019-08-16 15:06] Erioldoesdesign opened #96 "Genius Interview #6 - BT"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-16 15:07] Erioldoesdesign commented on #96
Raw Notes:

There’s a few different reasons why this hasn’t been widely been adopted

Designers aren’t aware of OSS

If they are aware, it’s ugly, it’s for geeks, I don’t want to use it and wouldn’t use it

Idea of contributing design for free to OSS is not very popular/nobody thinks about

Snobbery from the design community - why do I have to bother learning about this weird code system to be abl

[2019-08-16 15:07] #96 closed

[2019-08-16 15:20] Erioldoesdesign opened #97 "Genius Interview #7 - KD"
Raw notebook pictures:

![IMG_20190815_140347.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/c03c69df-8da2-4983-b76e-7b841d5cc7f1)

![IMG_20190815_140408.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/f0c9cd56-9772-4f51-94e5-16f0324cebc8)

![IMG_20190815_140411.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/091d7933-d7d8-4162-a66f-fff027c

[2019-08-16 17:43] Erioldoesdesign commented on #97
Here are the typed notes:

Humanitarian orgs need specific things

Need a whole team with matching skills. You can’t effectively have a graphics person build graphics within the pre-functions beforehand like research and testing. Or at least you produce results which are less-well informed.

There needs to be someone to lead and curate these groups and it can’t all just be one person.
Can this eve

[2019-08-16 17:52] Erioldoesdesign opened #98 "Genius Interview #8 - ZW"
Here are photos of the raw notebook notes:

![IMG_20190815_140328.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/0ef3c62e-785a-4118-b727-40c8d6023841)

![IMG_20190815_140333.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/6df376e0-bc0d-4419-9b90-92c667d5ea7b)

![IMG_20190815_140338.jpg](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/d1452815-84

[2019-08-19 09:04] deaduramilade commented on #54
Updated

[2019-08-19 12:51] Erioldoesdesign commented on #98
Raw Notes:

There need to be finishers and closers for projects. People that can wrap things up and make sure they’re in a place to be implemented and the org/OSS might not have that.

Someone needs to translate the ideas from ‘the field’ to whatever the platform is (OpenIDEO, GitHub repo etc.)

Youth teams submitted responses to challenges and were able to crowdsource funding that they use to bot

[2019-08-19 12:51] #98 closed

[2019-08-19 15:23] Erioldoesdesign opened #99 "Genius Interview #12 - SD"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-19 15:23] Erioldoesdesign commented on #99
Raw notes:

Airwares 2 years - got involved as an open source researcher. Overlap was obvious. Communicate that there

Geolocation - did more than that on the team

Open source ethics - make things transparent

Info that is private and public domain

Doing open source is very repetitive. Processing at high speed data.

Ways to improve workflow - using wordpress that was functioning as a blog. Team

[2019-08-19 15:24] #97 closed

[2019-08-19 15:24] #99 closed

[2019-08-19 15:26] Erioldoesdesign commented on #86
@vbhv http://opendesign.ushahidi.com/admin

[2019-08-19 22:16] klickass commented on #30
Is the workshop framework ready for review @Erioldoesdesign?  /@thomaskueber

[2019-08-19 22:27] Erioldoesdesign commented on #30
@klickass 😬 alas! not yet! by Wednesday for sure

[2019-08-19 22:29] klickass commented on #30
No pressure

[2019-08-19 22:50] Erioldoesdesign commented on #42
https://opensource.adobe.com/

[2019-08-19 22:53] Erioldoesdesign opened #100 "Launch of Nairobi event article"
The information about the Nairobi event in short article form that includes:

Link to the Methodology
Link to the workshop framework
What the event will focus on
Details about the event, location, time, needs
What's included in the event
Link to register

Work closely with @Erioldoesdesign and @aoduor for this piece

[2019-08-19 23:05] Erioldoesdesign opened #101 "Publish findings from workshops"
After the workshop events have been completed, compiling all the evidence, work, metrics, insight, and details of the events will be key in integrating it into the next round of funding and we should also publish a piece on our website rounding-up the key findings and outcomes.

[2019-08-19 23:07] Erioldoesdesign opened #102 "Article about using XD as a collaborative tool for open design"
I'm interested in what we can do in regards to how we use Adobe XD as a collaborative tool and why we (at Ushahidi) choose this tool as our primary.

This is largely an investigation into the 'sticker sheet' that will be available at the events and why/how we propose the creation and facilitation of these for other OSS projects

[2019-08-19 23:08] Erioldoesdesign opened #103 "Our conference bookings and why we are attending these events"
I would also like a piece that investigates the open source communities currently and understands the gaps for designers here.

[2019-08-19 23:13] Erioldoesdesign opened #104 "Open Source Design in the community: An open Trello board to collect ideas"
Trello board located here: https://trello.com/b/CVSlRaj8/open-design-questions

A series of workshop questions I posed initially to the platform co-operatives group to investigate what open-source design means to folks that largely are not engaged with the 'tech' sector and use tech as a means to facilitate humanitarian, open, cooperative ideas like food banks, community sharing scheme, mutual cre

[2019-08-20 21:44] klickass commented on #102
1. XD not Xd :) *important* /@thesocialdetail
2. Let's discuss in a separate meeting as this includes heavy portions of roadmap/up-and-coming functionality

[2019-08-21 12:02] vbhv commented on #86
I've made the changes.

[2019-08-21 12:02] #86 closed

[2019-08-21 12:34] thesocialdetail commented on #67
scheduled

[2019-08-21 12:34] #67 closed

[2019-08-21 12:34] thesocialdetail commented on #85
Having a call on 6th Sept as they are away for summer.

[2019-08-21 13:19] thesocialdetail opened #105 "Social media poll results"
Results of poll questions shares on Facebook and Twitter. Thought this would be great insight to general views of 'self-proclaimed' designers. (self-proclaimed as we have no information about the people that have voted in the polls)

Platform:
Date range:
Question:
Results:
Context: (this can be reach/ engagement / impressions)
Link:

[2019-08-21 14:16] thesocialdetail commented on #8
2nd Feb 2020, Milan, Italy
Interaction 20
http://interaction20.ixda.org/callforproposals.html

Can apply to speak or have a workshop?

[2019-08-22 09:54] thesocialdetail commented on #105
Platform: Twitter
Date range: 8th Aug - 7 days
Question: As a #designer have you contributed to an open-source project?
Results: 97 votes -
 Yes 60%
Nope, don't want to 4%
GitHub is scary 20%
I don't have time 19%

Context: 10,851 impressions (the number of time it was seen)

Link: https://twitter.com/opendesignis/status/1159402289091809282

[2019-08-22 10:13] thesocialdetail commented on #105
Platform: Facebook
Date range: 16th Aug - 2 months (ongoing)
Question: As a designer have you contributed to an opensource project?
Results: 87 votes
20 – Yes
67 – No
Context: (this can be reach/ engagement / impressions)
Link: https://www.facebook.com/OpenDesignIs/posts/879158695788544

[2019-08-22 12:31] #78 closed

[2019-08-22 12:31] Erioldoesdesign commented on #86
Thank you @vbhv :D

[2019-08-22 12:36] Erioldoesdesign opened #106 "Add 'events' coming soon section to the website"
Based off feedback, visitors to the website are unsure what the direct/immediate aims of Open Design are.

I'd like to add a section to the main page that states we're having events. We don't have to communicate concrete dates at present but 'coming soon in 2019' is sufficient and the locations.

We need to achieve this with the current components on our site.

[2019-08-22 12:43] Erioldoesdesign commented on #106
Thoughts on how to achieve this @vbhv would be awesome! :)

[2019-08-22 12:57] Erioldoesdesign opened #107 "Genius Interview #11 - JC"
No notebook photos as I took notes directly in the doc

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-08-22 12:57] Erioldoesdesign commented on #107
Simply secure - Open Source Design forum. OSS and design focussed on security.

Simply secure have looked at a specific view

Specific focus is Humanitarian purposes as a pathway into OSS in general.

Designers don’t actually have a general humanitarian/tech for good view or lens.  A disagreement here.

Telegram, Freema - encrypted

Blockchain projects & start ups - have great design

Driver = Coo

[2019-08-22 14:39] #107 closed

[2019-08-22 14:59] klickass commented on #69
Please keep a laser focus to the OSD target audience (use easy language, tailor to non-code-savvy designers) and prevent setting precedence/opening doors for OT discussions or debates around F/OSS. And have a ton of fun @Erioldoesdesign!

[2019-08-26 07:01] vbhv commented on #1
@Erioldoesdesign is the code of conduct meant for the community (designers, orgs) participating and is it both for the website as well as events? Maybe we can focus on website as a start?

[2019-08-26 07:02] Erioldoesdesign commented on #1
@vbhv There should be a COC for events & online/repo contribution.

Please do start on the repo/website first and we can look at one for an event later :)

[2019-08-26 10:28] vbhv commented on #1
Found two current COCs. One for community participant and the other for open source contributor profile.
https://community-covenant.net/
https://www.contributor-covenant.org/

Other COC examples:
https://indieweb.org/code-of-conduct-examples
http://web.archive.org/web/20141109123859/http://speakup.io/coc.html
https://www.djangoproject.com/conduct/
https://opensource.guide/code-of-conduct/
Mozilla

[2019-08-26 10:34] Erioldoesdesign opened #108 "Move from ACF to Gutenberg"
Moving from the WordPress site being built with an ACF (https://www.advancedcustomfields.com/) build to Gutenberg (https://wordpress.org/gutenberg/)

Gutenberg allows for better use of 'modules' or 'sections' across pages.

[2019-08-26 10:46] Erioldoesdesign commented on #76
@thesocialdetail we need to put together a short paragraph on what the event will be like. (if we haven't already?)

My contact from Bloomberg would like info to filter upstream if we want it hosted there.

Slacking you their email :v:

[2019-08-26 11:08] Erioldoesdesign opened #109 "Hotjar feedback tab"
Can I get some folks to test whether they see the HotJar feedback tab on the side of the website?

![Screenshot 2019-08-26 at 14.07.50.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/3a944b42-28a3-4fbd-91d4-d991cff2e93c)

If yes, let's see if we can get this removed @thesocialdetail

[2019-08-26 11:09] Erioldoesdesign commented on #109
It covers up content in mobile view:[Uploading... Screenshot 2019-08-26 at 14.08.52.png ]

[2019-08-26 11:13] Erioldoesdesign opened #110 "Articles pages for posts to link to"
There need to be designs for an articles 'hub page'

It should list out all articles available to read on individual article pages.

Designs:

## Main page with the article section click through

![Website full with content – menu & events & articles.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/e04f3cf2-6bb1-46ab-a59c-40d117b3bcb8)

## Article hub page
![Website article list.

[2019-08-26 11:45] vbhv commented on #1
I think the COC from Community Covenant for the website is a good COC to build off from. https://community-covenant.net/version/1/0/
For contributor I suggest this https://www.contributor-covenant.org/ It can be included in github/other repositories.
@Erioldoesdesign

[2019-08-26 17:10] Erioldoesdesign opened #111 "Events list page & detail page"
The website needs to surface the events

There should be a block of 3x3 (6) squares on the main page and then a 'hub page' for all the events/conferences Open Design will be at.

## Main page with events section
![Website full with content – menu & events & articles.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/80d36747-bdd4-490e-99ca-1f373cc1ed86)

## Events hub page
![Websit

[2019-08-26 17:23] Erioldoesdesign opened #112 "How we do design in Ushahidi (on TenFour)"
Documentation on how Ushahidi internal design team completes design work.

Our perfect process vs. our OSS proposed process.

Should also be included on the TenFour repo documentation.

https://github.com/ushahidi/tenfour

[2019-08-26 17:25] Erioldoesdesign commented on #112
Needs to Include sample design files and screenshots

[2019-08-26 17:54] Erioldoesdesign commented on #68
@thesocialdetail ah I see...I think I can look at this in mailchimp
I'll take a look now

[2019-08-26 17:56] Erioldoesdesign commented on #45
Ah - the list of articles is in the Articles epic as individual issues now :)

[2019-08-26 18:38] Erioldoesdesign commented on #68
Fixed this @thesocialdetail ;)
https://www.facebook.com/OpenDesignIs/app/100265896690345/

I had to use the text space at the top available in the layout to link the Privacy Policy and add the supplementary text. If you want some changes let me know or I can show you where to edit in the Mailchimp.

[2019-08-26 18:38] #68 closed

[2019-08-27 11:42] thesocialdetail commented on #109
Turn the feature off

[2019-08-27 11:42] #109 closed

[2019-08-28 06:04] vbhv commented on #1
Example from http://dev.to

All participants of The DEV Community are expected to abide by our Code of Conduct, both online and during in-person events that are hosted and/or associated with DEV.

Our Pledge
In the interest of fostering an open and welcoming environment, we as moderators of DEV pledge to make participation in our project and our community a harassment-free experience for everyone,

[2019-08-28 07:51] Erioldoesdesign commented on #1
Looking good @vbhv examples are good ones to build from :)

[2019-08-28 12:10] thesocialdetail opened #113 "Social media report for August"
a one-page report on achievements on social media and goal for the next month

[2019-08-28 13:08] Erioldoesdesign commented on #70
If we want to engage with Grenfell then we have to consider the potential complexities of the event laid out here: https://grenfellactiongroup.wordpress.com/

There are several groups and individuals involved in the aftermath but intentions are largely unclear.

Grenfell action group
Grenfell United
Grenfell Community Response and Support
Housing Action Southwark & Lambeth
Justice4Grenfell

And of

[2019-09-02 10:41] vbhv commented on #1
Added two versions. One for community and the other for contributor

Community CoC
https://docs.google.com/document/d/1cgFy5eKe67YSb-NnghNAyyxK8pdT9yFe0a9lJ8EwSzg/

Contributor CoC
https://docs.google.com/document/d/1WjHofPDWkaeV5UYbKHhoZCuNT7Oc5nwG2eBkdmUPDz0/

@Erioldoesdesign

[2019-09-02 10:49] vbhv opened #114 "Switch order of CTA because it helps direct the user better when they click on "join the open design.." button"
Proposal to switch order of CTA because it helps direct the user better when they click on "join the open design.." button.

<img width="1157" alt="Screen Shot 2019-09-02 at 4 15 44 PM" src="https://user-images.githubusercontent.com/863674/64109524-5f10b200-cd9d-11e9-8830-8a6da6862929.png">

[2019-09-02 10:51] vbhv commented on #106
Perhaps with a banner? @Erioldoesdesign

[2019-09-02 10:51] Erioldoesdesign commented on #114
I think this requires development work as those two sections are connected as one 'slice' or component.

@aschwersenz to advise whether this would be development work or not. I suspect it is.

[2019-09-02 10:52] Erioldoesdesign commented on #106
I think there's now the ability to add in an image into a section in the wordpress backend but it'd have to be investigated.

please feel free to test in a draft page in wordpress if you'd like @vbhv

[2019-09-02 10:59] vbhv commented on #106
Cool. Is there a doc with the event details? I can mock a banner using the design system you developed. Can't find it though @Erioldoesdesign

[2019-09-02 13:00] Erioldoesdesign commented on #69
Tweets can be seen here : https://twitter.com/opendesignis/status/1168506454388727808

[2019-09-02 13:00] #69 closed

[2019-09-02 13:01] Erioldoesdesign commented on #108
@aschwersenz can we close this issue?

[2019-09-02 13:13] Erioldoesdesign opened #115 "FOSS4G Open Design talk slides"
You can view the .pdf version of the talk slide here:

https://www.slideshare.net/EriolFox/open-design-foss4-g-2019eriolfoxoperaroom3pm-1-168366007

And with speaker notes (if you download the file):

https://www.slideshare.net/EriolFox/open-design-foss4-g-2019eriolfoxoperaroom3pm-1

[2019-09-02 13:14] Erioldoesdesign opened #116 "Talks"
Epic to contain all the issues related to talks given about Open Design at conferences/events etc.

[2019-09-02 13:14] #115 closed

[2019-09-02 14:08] klickass commented on #69
Great stuff!

[2019-09-02 14:09] klickass commented on #115
Lovely!

[2019-09-03 15:59] thesocialdetail opened #117 "August social media report"
[https://app.zenhub.com/files/179710835/18166aa2-9260-45d6-ba07-5b372f3b3b35/download](https://app.zenhub.com/files/179710835/18166aa2-9260-45d6-ba07-5b372f3b3b35/download)[https://app.zenhub.com/files/179710835/0e071220-c7bb-45f0-bfe2-b7708a492cb8/download](https://app.zenhub.com/files/179710835/0e071220-c7bb-45f0-bfe2-b7708a492cb8/download)

[2019-09-03 19:35] Erioldoesdesign commented on #117
@thesocialdetail these files aren't working?

[2019-09-04 14:18] #50 closed

[2019-09-04 14:18] thesocialdetail commented on #117
Tryin to upload again

[osd_facebook_2019-08-01_to_2019-08-31_created_on_20190903T1556Z.pdf](https://github.com/ushahidi/opendesign/files/3574911/osd_facebook_2019-08-01_to_2019-08-31_created_on_20190903T1556Z.pdf)
[osd_twitter_2019-08-01_to_2019-08-31_created_on_20190903T1558Z.pdf](https://github.com/ushahidi/opendesign/files/3574912/osd_twitter_2019-08-01_to_2019-08-31_created_on_20190903T1558Z.

[2019-09-04 14:20] Erioldoesdesign commented on #1
@klickass @thomaskueber

[2019-09-04 14:21] #108 closed

[2019-09-04 14:21] klickass opened #118 "Add new pages for past events"
Create new pages for Berlin and Seattle events. Compare #111.

[2019-09-04 14:22] Erioldoesdesign commented on #54
Split the article into two:

1.https://docs.google.com/document/d/1qz0W4EwmmvJJz3bG0HZV5IrxpxUExEdEjJ88Vm7uAPs/edit?usp=sharing

2. https://drive.google.com/open?id=1aC1UN3IW9dtQnrXBPxYvNGR_DqCU30h8pDHNDQaCZck

These are ready for re-review

[2019-09-04 14:22] Erioldoesdesign commented on #54
@klickass @thomaskueber

[2019-09-04 14:24] #55 closed

[2019-09-04 14:28] Erioldoesdesign opened #119 "Share buttons for articles"
Investigate plugins for social share.

Needed for content KPIS.

[2019-09-04 14:57] Erioldoesdesign commented on #78
@thomaskueber

[2019-09-04 23:42] Erioldoesdesign opened #120 "Genius Interview #11 - NS"
No notebook photos as I took notes directly in the doc:

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-09-04 23:42] Erioldoesdesign commented on #120
Haven’t done anything with OpenIdeo yet. Wanted to use skills for good. UX skills for coaching

Passionate about social good and social impact projects. Wanted to reach out to the different groups with that.

Work in a corporate world don’t get a chance to work on something meaningful. Opportunity is there to reach out.

UX for change - London & New York
Design for good -
Tech for change -

Just c

[2019-09-04 23:42] #120 closed

[2019-09-09 09:18] Erioldoesdesign commented on #12
https://www.slideshare.net/valicac/difficulties-in-having-more-designers-participate-in-open-source

[2019-09-09 11:23] Erioldoesdesign commented on #118
These two pages now exist and are linked up in relevant pages:
https://opendesign.ushahidi.com/berlin-1/
https://opendesign.ushahidi.com/seattle-1/

-[] They need a brief summary of the past event.
-[] What were the challenges/briefs
-[] Links to external articles of the events
-[] Photos of participants
-[] Outputs - what was created by the teams
-[] What we changed going forward
-[] Contact us e

[2019-09-09 11:28] Erioldoesdesign commented on #111
https://opendesign.ushahidi.com/open-design-events/

Event hub page exists

Working on the conferences now

[2019-09-09 11:46] Erioldoesdesign commented on #110
Done, see here:

https://opendesign.ushahidi.com/
https://opendesign.ushahidi.com/open-design-articles/

[2019-09-09 11:46] #110 closed

[2019-09-09 22:22] #111 closed

[2019-09-09 22:42] Erioldoesdesign commented on #54
I've included these in the backend of wordpress.

[2019-09-09 22:42] #54 closed

[2019-09-09 22:51] Erioldoesdesign commented on #30
Newest version ready for final review :)

[2019-09-09 22:55] Erioldoesdesign commented on #106
Design system file can be found here: https://drive.google.com/open?id=1aKhyOOCgzjxq-gEvH_eM1XlJxlCgN-Sn

I recommend banners on each individual page: https://opendesign.ushahidi.com/bangalore-1/

[2019-09-09 22:56] Erioldoesdesign commented on #91
Completed in a separate issue

[2019-09-09 22:56] #91 closed

[2019-09-09 22:59] Erioldoesdesign commented on #112
We need to adapt the Ushahidi Platform Design documentation to the TenFour documentation/repo: https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/getting-started/design-process

[2019-09-09 23:04] Erioldoesdesign opened #121 "Workshop framework"
The general workshop frame document:

https://docs.google.com/document/d/1TOt3SK3Y8gHXdP0XE7FcSOAezHdYpBLvOUQF-jrjB5M/edit

Should be split out into separate sections for locations e.g.

Workshop Framework: Bangalore
Workshop Framework: Nairobi

etc...

[2019-09-10 10:43] Erioldoesdesign opened #122 "Cheltenham Design Festival - Mini workshop"
Cheltenham Design Festival want a 2 hour mini-workshop.

https://cheltdesignfestival.org/events/design-for-good/

[2019-09-10 11:13] Erioldoesdesign commented on #10
KPI working document here: https://docs.google.com/document/d/12dSe9hGbsNA1KFGmXNiUSAZUjkwgDo4vSQ4OHehJXNI/edit?usp=sharing

[2019-09-10 13:01] Erioldoesdesign opened #123 "Website GA analytics"
An issue that captures the ongoing monitoring of Google Analytics for the Open Design website

[2019-09-10 13:02] Erioldoesdesign commented on #123
1st July 2019 to Sept 10th 2019:

[https://app.zenhub.com/files/179710835/9fda0174-a58b-4d0e-887b-8c7280c8041f/download](https://app.zenhub.com/files/179710835/9fda0174-a58b-4d0e-887b-8c7280c8041f/download)

![Screenshot 2019-09-10 at 11.28.14.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/49fffe7d-5853-4875-b55e-018f17378c24)

Homepage and the launch article continue to be the

[2019-09-10 13:40] thesocialdetail commented on #122
Added to the socials promo list

[2019-09-10 13:41] #113 closed

[2019-09-10 13:42] thesocialdetail commented on #85
Rescheduled to Thursday 12th

[2019-09-10 14:01] thesocialdetail commented on #117
Transferred to a new issue

[2019-09-10 14:01] #117 closed

[2019-09-10 14:02] thesocialdetail opened #124 "Social Media Reports"

[2019-09-10 14:09] thesocialdetail commented on #124
Platform: Twitter
Date range: 8th Aug - 7 days
Question: As a #designer have you contributed to an open-source project?
Results: 97 votes -
Yes 60%
Nope, don't want to 4%
GitHub is scary 20%
I don't have time 19%

Context: 10,851 impressions (the number of time it was seen)

Link: https://twitter.com/opendesignis/status/1159402289091809282

[2019-09-10 14:10] thesocialdetail commented on #124
Platform: Facebook
Date range: 16th Aug - 2 months (ongoing)
Question: As a designer have you contributed to an opensource project?
Results: 87 votes
20 – Yes
67 – No
Context: (this can be reach/ engagement / impressions)
Link: https://www.facebook.com/OpenDesignIs/posts/879158695788544

[2019-09-10 14:11] thesocialdetail commented on #105
Moved to a new issue

[2019-09-10 14:11] #105 closed

[2019-09-10 14:50] klickass commented on #118
Beefed up both pages but didn't add a couple of the things above – as I feel that is redundant/described in the external articles already.

Unsure about the contact us email link – is this is a template/block I am supposed to use?

[2019-09-10 15:13] Erioldoesdesign opened #125 "Add the Open Design event information to Ushahidi's GitBooks documentation"
For publicity of the events mostly but good cohesion with the larger Ushahidi property.

Under the 'Hackathons and Events' heading

https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/hackathon-and-events/installathon-may-2019

[2019-09-10 17:15] Erioldoesdesign opened #126 "Search and replace: 'open design' for 'Open Design'"
The term 'Open Design' should always be in title case as it's a brand term.

In certain cases 'Open Design project' can be used.

OD can be used as an abbreviation of 'Open Design'

It should never be 'open design'

[2019-09-11 08:40] Erioldoesdesign commented on #118
@klickass Not sure what you mean by the contact us link can you do a screenshot?

[2019-09-11 10:26] Erioldoesdesign opened #127 "Create Team page on website & repo"
The website and the repo need a team and contributors page.

[2019-09-11 13:56] thesocialdetail commented on #124
August Facebook
From the Facebook Pixel 14th to 31st Aug 271 people with Facebook accounts visited the website and completed 12 actions

![Screenshot 2019-09-11 at 14 51 34](https://user-images.githubusercontent.com/50371469/64703136-c61c1e00-d4a3-11e9-898e-6add92ec2cf2.png)

Facebook page had 5,600 views from 846 people.

[od_facebook_2019-08-01_to_2019-08-31_created_on_20190911T1353Z.pdf](https:

[2019-09-11 14:10] klickass commented on #118
I believe it is part of the page template and got added automatically. See attached. Feel free to reopen if you meant something different.

![Screenshot 2019-09-11 at 16 09 26](https://user-images.githubusercontent.com/2110595/64704470-a50cfa80-d4ae-11e9-9b35-34b467bf1e7c.png)

[2019-09-11 14:10] #118 closed

[2019-09-11 14:17] Erioldoesdesign commented on #30
Methodlogy has been reviewed, amended and split into two:

1 - The public-facing replicable document that serves as a 'guide': https://docs.google.com/document/d/136xY-e6Vrr6Fes0t19Jh64qUbzes7TNsQrK7fncuimA/edit?usp=sharing

2 - The internal document intended to help guide or research gathering insight: https://docs.google.com/document/d/1lkaq7VA3INTwh4M941KYt-IQ-whhWm7W9k5cm436UDw/edit?usp=sharin

[2019-09-11 14:17] klickass commented on #126
Search/replace OSD/OD as well

[2019-09-11 14:24] #106 closed

[2019-09-11 14:33] Erioldoesdesign commented on #102
Make more focussed on the 'sticker sheet' or 'design system'

Instructions on how to use XD for contributing to TenFour

[2019-09-11 14:46] Erioldoesdesign commented on #71
Notes: Beginner - Advanced

Design job title - 'Other'

[2019-09-11 14:59] inclued-ai opened #128 "HotJar heat map images reports"
Each month will be adding Heatmap information

The free plan only allows 3 areas to track

1. Home page - This is information only on data from the homepage
2. Articles - this data form every one page added together the image will only be a holder.

The image will be one of three
Click and Tap - where people have tapped or clicked around the page. Red or "Hot" shows the elements/areas that have be

[2019-09-11 16:15] Erioldoesdesign commented on #118
Ah thats our global footer...i don't think you can turn it off but you could add in a horizontal break line module to make it seem seperate!

[2019-09-11 16:20] Erioldoesdesign commented on #124
super cool!!!

[2019-09-11 19:56] rowasc commented on #1
This CoC looks good. I'd probably like to see us add an anonymous form of reporting _and_ specific folks who you can escalate to if a member of the team acts in an inappropriate manner, to ensure folks feel safe reporting on _us_ too. -this applies to Ushahidi CoC as well IMO-
ie: email "coc@ushahidi.com" which is read by X,Y,Z person , or to X,Y,or Z if you feel more comfortable doing that.

[2019-09-11 20:04] klickass commented on #1
Both look good to me

[2019-09-12 14:14] Erioldoesdesign opened #129 "Event: Bangalore"

[2019-09-12 19:34] Erioldoesdesign opened #130 "Event: Cheltenham"

[2019-09-12 20:16] Erioldoesdesign opened #131 "Event: Nairobi"

[2019-09-16 09:16] Erioldoesdesign commented on #30
Closing this ticket and uploading the public facing one to the website

[2019-09-16 09:16] #30 closed

[2019-09-16 18:16] Erioldoesdesign opened #132 "'What is TenFour'"
Adding in the Methodology to the Open Design website there is a need for a 'What is TenFour' document. Much like the [Simple.org slide deck] (https://www.dropbox.com/s/sah9y0ezqb28hde/Simple%20App%20Overview%20-%20001%20(2-24-2019).pptx?dl=0#)

- [x] Information in an info issue in the TenFour Repo.
- [x] A slide deck that can be used in events.

[2019-09-17 06:17] Erioldoesdesign commented on #132
Needs to live in: https://github.com/ushahidi/tenfour/blob/develop/README.md

[2019-09-17 06:27] Erioldoesdesign opened #133 "TenFour Slide deck"
Related to issue #127

You can view the [TenFour slide deck] (https://drive.google.com/file/d/1B80_hcdWD-7SQFdssUzzRegfChtbwjdH/view?usp=sharing)  in Google drive

[2019-09-17 11:33] vbhv commented on #112
correct link https://docs.ushahidi.com/platform-developer-documentation/design/design-process

[2019-09-17 11:36] vbhv commented on #112
@Erioldoesdesign this is very cool! I love it. Can it be part of the main page (https://docs.ushahidi.com/index/) instead of being nested under developer documentation?

[2019-09-17 11:59] Erioldoesdesign commented on #112
It will be or is already - Anna was updating the new nav structure :)

[2019-09-18 09:32] Erioldoesdesign commented on #8
Added the above to the master list

[2019-09-18 09:34] Erioldoesdesign commented on #1
Added these as a .md file to the repo so they can be pulled and iterated on if need be

Noting that I haven't addressed Romina's suggestion of an anon form. Will create  and new ticket to create via google forms and add to CoC

[2019-09-18 09:34] #1 closed

[2019-09-18 09:37] Erioldoesdesign opened #134 "Create an anon CoC violation form via google forms and add to CoC"
Create using google forms a way for people to anon report a CoC violation in cas ethey are uncomfortable using their email.

Add to the two CoC's in the main repo file structure.

[2019-09-18 09:41] Erioldoesdesign opened #135 "Tenfour 'Sticker Sheet'/'Design system' for events & repo"
Create a comprehensive 'Sticker Sheet' or 'Design system' for the current TenFour UI & journey flow.

Created in XD and make both a cloud doc as well as a downloadable master doc.

[2019-09-18 09:42] #133 closed

[2019-09-18 10:08] thesocialdetail opened #136 "Live Tweet from Design Matters"
Live tweet from Design Matters conference
handle @ designmattersdk
Event hashtag #designmatters19
https://designmatters.io

[2019-09-18 13:56] Erioldoesdesign opened #137 "Launch of Bangalore: DesignUP! Article."
The Bangalore event section needs populating with: https://opendesign.ushahidi.com/bangalore-designup-2019

- [ ] Information about the conference and where they can sign-up/attend

- [ ] Information about our purpose there

- [ ] Information about the intended workshop framework

[2019-09-18 14:17] Erioldoesdesign commented on #90
@deaduramilade Any progress on this?

[2019-09-18 14:23] Erioldoesdesign commented on #119
Looks like this at the bottom of pages:

![Screenshot 2019-09-18 at 16.18.45.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/a838d4fc-1197-4314-983e-6619f24d870c)

Configurable via the plugin section from wordpress:

![Screenshot 2019-09-18 at 16.20.25.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/c58fcf3c-a54a-4adb-b395-889940371c61)

TBC on Analytics info.

[2019-09-18 14:25] #132 closed

[2019-09-24 09:25] Erioldoesdesign commented on #136
I did a few tweets
![Screenshot 2019-09-24 at 10.02.34.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/ae1a8fd8-07fe-409a-ab5c-f6dc2aab5add)

![Screenshot 2019-09-24 at 10.05.14.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/623d624b-1e4c-41b8-8575-66cc3465d0a7)

[2019-09-24 09:25] #136 closed

[2019-09-24 09:30] Erioldoesdesign commented on #137
You can find the workshop info here:
https://drive.google.com/open?id=1_G29c0eXw2tESLIl0ClYk89LzmHzdWiX5adJLZweubE

Design Up!'s info here: https://designup.io/blr2019/masterclasses/#tab-eriol-fox-creating-impact-with-open-source-and-humanitarian-tech-257

We'll need an overview of the event, what we want to happen there (based off the workshop framework) and the TenFour issues we'll focus on and

[2019-09-24 10:36] Erioldoesdesign opened #138 "Email shot for the first two events"
Via Mailchimp

Should include

- [] Links on how to attend
- [] Methodology & workshop framework issue links
- [] How to follow the activity remotely via Socials
- [] How to get involved in future events

[2019-09-25 14:35] thesocialdetail commented on #119
Connected the Facebook API app still working one showing other platforms.

[2019-09-25 18:04] HasanChoton opened #139 "Overseas"

[2019-09-25 18:47] Erioldoesdesign commented on #139
Hi there @HasanChoton are you looking to contribute to Open Design? or interested in the project?

[2019-09-30 11:42] thesocialdetail opened #140 "Facebook Event Banner for cheltdesignfestival.org"
Facebook event banner image to promote the Cheltenham Design Event
Size: 1920 x 1080 pixels
Format: PNG or JPG
Resources:
Master Adobe Xd file - https://drive.google.com/open?id=1aKhyOOCgzjxq-gEvH_eM1XlJxlCgN-Sn
Approved photos: https://drive.google.com/drive/folders/1Nf-IeSDUm_Tw2WPcBd6ROWbFetmDwp9a?usp=sharing

Needs to have
- our logo
![Open-Design-Logo](https://user-images.githubusercontent.co

[2019-09-30 11:44] Erioldoesdesign commented on #140
Might want a folder of resources? Ours on the google drive should be all open

[2019-09-30 12:21] thesocialdetail opened #141 "Duplicated text on methodology page"
https://opendesign.ushahidi.com/methodology/

Are numbers 1 and 2 meant to be the same? Which should be deleted?

![Screenshot 2019-09-30 at 13.20.28.png](https://images.zenhubusercontent.com/5d2f38a1bcefe90a8aeb0e72/ed98e0cf-f4a6-4f26-bceb-ff0d18fc38d9)

[2019-09-30 15:18] Erioldoesdesign commented on #141
Good spot!

[2019-09-30 15:33] Erioldoesdesign commented on #141
Done!

[2019-09-30 15:33] #141 closed

[2019-10-02 10:18] thesocialdetail commented on #128
Some of the videos use to the website Sept 2019 (videos which has significant outcome have been listed)

- USA, 3rd Sept, clicked off to GitHub
https://insights.hotjar.com/r?site=1444422&recording=2537367297&token=f6c35329004332541ee5b18cf3041a08&startTime=28200

- Germany 4th Sept, read 2 pages
https://insights.hotjar.com/r?site=1444422&recording=2541026457&token=d45f9f02d2c40fe7f4ff25539ac5046c&

[2019-10-02 10:25] thesocialdetail commented on #128
Sept 2019 Heatmap

![Home page - heatmap-4719845-click-phone](https://user-images.githubusercontent.com/50371469/66037323-3ba96600-e507-11e9-904e-ea312cb359c2.jpg)

![Homepage - heatmap-4719845-click-desktop](https://user-images.githubusercontent.com/50371469/66037324-3c41fc80-e507-11e9-926d-23d422d93f90.jpg)

![heatmap-4591777-click-phone (1)](https://user-images.githubusercontent.com/50371469/66

[2019-10-02 11:00] Erioldoesdesign opened #142 "Mapping the partners/players in Open Design and Open Source design contrubitions"

[2019-10-02 11:09] thesocialdetail commented on #124
Sept Facebook
From the Facebook Pixel 4th to 30th Sept 643 people with Facebook accounts visited the website and completed 12 the signup form

<img width="1176" alt="Screenshot 2019-10-02 at 11 34 56" src="https://user-images.githubusercontent.com/50371469/66038400-f0dd1d80-e509-11e9-955f-bbce210744fa.png">

- 5 visits to Facebook via the website
- Facebook page reached 65 people and viewed 162 ti

[2019-10-03 11:28] Erioldoesdesign opened #143 "Mid-term report for Adobe & Ushahidi [Internal]"
Internal document to look at what's been achieved to date and what is still in progress.

[2019-10-04 11:20] Erioldoesdesign opened #144 "Genius Interview #14 - SS"
Notes from chat with SS located in the doc: https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

Also copy paste in comments

[2019-10-04 11:20] Erioldoesdesign commented on #144
Raw notes:

Work on somethings together

not just security & privacy

Grantees of prototype fund in civic tech

Names don’t matter -> issues matter, problem spaces matter

not pair designers with tools -> what processes and frameworks are needed for this to be sustainable. Feedback -> how is it useful

Skills around security & privacy -> design contributions a tool that still exists in 5+ years.

[2019-10-04 11:21] #144 closed

[2019-10-04 11:22] #143 closed

[2019-10-04 11:28] Erioldoesdesign opened #145 "Genius Interview #15 - MB"
Interview protocol here: https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

Notes from the interview are in the same document under the outline heading.

[2019-10-04 11:50] Erioldoesdesign opened #146 "Genius Interview #9 - HP"
No notebook photos as I took notes directly in the doc:

https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

[2019-10-04 12:00] Erioldoesdesign opened #147 "request to add our events onto the A11y project"
The A11y project will signal boost/list events that are relevant to them. Follow the guidelines:
https://github.com/a11yproject/a11yproject.com/blob/gh-pages/CONTRIBUTING.md#events

Have an accessibility-themed event you would like to promote? There are two ways you can get your event added to the project: Either create a new event Issue, or edit the events.yml file directly and submit a Pull Requ

[2019-10-04 12:19] Erioldoesdesign opened #148 "Request to add events to Open Source design.net events pages"
To add an event fork and send a pull request

https://opensourcedesign.net/events/

https://github.com/opensourcedesign/events

[2019-10-04 12:51] Erioldoesdesign opened #149 "Request to add events to Ushahidi Meetup & Facebook page"
https://www.facebook.com/pg/ushahidi/events/

https://www.meetup.com/Ushahidi-Community/

[2019-10-07 11:15] Erioldoesdesign commented on #139
Hi there @hasanchoton i'm going to close this issue unless you have any other description for it?

[2019-10-07 12:30] deaduramilade commented on #137
https://docs.google.com/document/d/1O-DpXmL4n3SrQ9pggkTM4fSwSMDd-7R1BDyqVZ7L-iI/edit?usp=sharing

[2019-10-07 12:59] deaduramilade commented on #53
I've read and reviewed both and I don't think a special article has to be done to "announce" them. I think they can be published as is. I see the methodology has been published on the website https://opendesign.ushahidi.com/methodology/

I think that's okay.

[2019-10-07 13:04] deaduramilade commented on #90
I'll create an issue for "adding sign up box on all pages"

[2019-10-07 13:05] deaduramilade opened #150 "Add email sign up on all pages"
![SharedScreenshot](https://user-images.githubusercontent.com/25243185/66314129-78ac9880-e90b-11e9-91f4-2e222e7c690f.jpg)

[2019-10-08 10:14] Erioldoesdesign opened #151 "Bangalore DesignUP! conference - Full workshop"
DesignUP! Conference want a 8 hour workshop/hackathon.

https://designup.io/blr2019/masterclasses/

Open design webpage WIP here: https://opendesign.ushahidi.com/bangalore-designup-2019/

14/11/2019

8 hours

Living Workshop framework document here: https://docs.google.com/document/d/1_G29c0eXw2tESLIl0ClYk89LzmHzdWiX5adJLZweubE/edit#heading=h.11ekkdnx6wpz

[2019-10-08 10:34] Erioldoesdesign opened #152 "Genius Interview #16 - RS"
Notes from chat with RS located in the doc: https://docs.google.com/document/d/1m4D9mV5dPAoF5-cieS81SEN4LWbuDzQaKBTADlIY-ks/edit?usp=sharing

Also copy paste in comments...

[2019-10-08 10:35] #152 closed

[2019-10-08 10:35] #146 closed

[2019-10-08 10:35] Erioldoesdesign commented on #53
Awesome - sounds good lade! Closing this

[2019-10-08 10:35] #53 closed

[2019-10-08 10:36] Erioldoesdesign commented on #119
@thesocialdetail was there something you were looking into for this?

[2019-10-08 10:37] Erioldoesdesign commented on #90
Added these to the rough KPI document: https://docs.google.com/document/d/12dSe9hGbsNA1KFGmXNiUSAZUjkwgDo4vSQ4OHehJXNI/edit?usp=sharing

closing out

[2019-10-08 10:37] #90 closed

[2019-10-08 10:37] #139 closed

[2019-10-08 11:13] Erioldoesdesign commented on #152
RS - Talked about the design sprint process. Briefly!

Some challenges shared. Context and purpose of the design sprint. Strategically. 75% or great on the design sprint. Do we have build/funding to make it a reality.

25% or less we document this and say it doesn’t ‘work’

Not full sprints but a ‘hybrid’ sprint.

3 weeks to prep for the 1 week design sprint. Concentrate on something big and juicy

[2019-10-08 11:25] Erioldoesdesign commented on #150
Okay - added here and it works: https://opendesign.ushahidi.com/bangalore-designup-2019/

Will add across all pages asap

[2019-10-08 14:12] thesocialdetail commented on #119
Can close this out. I was not able to find a way for the share counts to show with the Sassy Social plugin. The share count only shows for Facebook.

[2019-10-08 14:12] #119 closed

[2019-10-08 14:19] thesocialdetail commented on #85
Closing for now until I hear back.

[2019-10-08 14:19] #85 closed

[2019-10-08 14:22] thesocialdetail commented on #74
Completed for each event.

[2019-10-08 14:22] #74 closed

[2019-10-08 14:23] #73 closed

[2019-10-08 14:24] thesocialdetail commented on #71
Close as event did not happen.

[2019-10-08 14:24] #71 closed

[2019-10-08 14:25] thesocialdetail commented on #61
done

[2019-10-08 14:25] #61 closed

[2019-10-08 14:28] thesocialdetail commented on #77
We can have them linked in the repo and/ or offer a form on the website for people to submit projects.

[2019-10-09 10:06] thesocialdetail commented on #124
Sept Twitter

<img width="970" alt="Screenshot 2019-10-09 at 10 42 45" src="https://user-images.githubusercontent.com/50371469/66470484-9439af80-ea81-11e9-85d0-67b42e524aa8.png">

Engagement and mentions fell compared to Aug, the account following continues to grow well. Over 50% increase of link clicks.

<img width="768" alt="Screenshot 2019-10-09 at 10 54 03" src="https://user-images.githubuserc

[2019-10-09 17:04] Erioldoesdesign commented on #124
Good stuff 🎉

[2019-10-11 14:26] Erioldoesdesign commented on #137
Approved :) closing out

[2019-10-11 14:26] #137 closed

[2019-10-15 12:07] thesocialdetail commented on #88
![Facebook – Pull Quote Shared Image Newsfeed 1200 x 630 – 1 (1)](https://user-images.githubusercontent.com/50371469/66829736-e7ad7100-ef4b-11e9-808c-5897937130c4.png)

![Pull quote Twitter In-Stream Photo - 506 x 253 – 8](https://user-images.githubusercontent.com/50371469/66830175-c436f600-ef4c-11e9-91f3-8f049b19da40.png)

[2019-10-15 12:11] #88 closed

[2019-10-15 13:27] thesocialdetail opened #153 "Content Wish list for Bangalore DesignUP! conference"
Photos
- Speakers on stage/ front of the room
- Teams in discussions
- Teams creating

Videos (1 min or less)
Attenddees asking the following
- why they came?
- What did they learn?
- How can Open Design help improve or change OSS

[2019-10-23 14:16] #151 closed

[2019-10-23 14:16] #121 closed

[2019-10-23 14:16] #70 closed

[2019-11-01 09:47] Erioldoesdesign commented on #145
Notes here:

3000 students python user user

Developer led/started.

Developers want to contribute

Keen to know about how open source works

Started working in Graphics and self taught graphic design
The studied data science in Kyoto. Met some ML people and those interested in ML/AI in data

How can data science and design work together to make better products.

HDI - Human data interaction

San

[2019-11-01 09:47] #145 closed

[2019-11-03 14:35] thesocialdetail commented on #140
No longer required

[2019-11-03 14:35] #140 closed

[2019-11-03 14:40] thesocialdetail commented on #124
Platform: Twitter
Date range: 2nd Oct
Question: What type of contributor are you in #OpenSource projects?
Offer insight to projects 12%
I add designs 12%
I watch projects to learn 41%
Offer more than one skils 35%

Context: 966 impressions (the number of time it was seen)

Link: https://twitter.com/opendesignis/status/1179383610736025600

<img width="591" alt="Screenshot 2019-11-03 at 14 37 41" sr

[2019-11-03 14:53] thesocialdetail commented on #124
Twitter Oct 2019

<img width="803" alt="Screenshot 2019-11-03 at 14 44 50" src="https://user-images.githubusercontent.com/50371469/68086959-1632b380-fe49-11e9-9759-a865a863599d.png">

 - 33 new followers although the content impressions have dropped, this could be due to people searching for the account directly and conference.

<img width="581" alt="Screenshot 2019-11-03 at 14 49 48" src="https:/

[2019-11-03 15:27] thesocialdetail commented on #124
Facebook Oct 2019

<img width="1047" alt="Screenshot 2019-11-03 at 15 00 03" src="https://user-images.githubusercontent.com/50371469/68087130-aa514a80-fe4a-11e9-824c-72071965e6b9.png">

- There were 296 page views of the website by Facebook users.
- The subscriber button was clicked 14 times by users with Facebook account, will need to check is this lead to subscribers.
- 29 content click compare

[2019-11-05 12:51] Erioldoesdesign commented on #102
Immediate review needed!

Unless thee are huge, mega errors or miscommunication I'd like to get this out asap.

@klickass @thomaskueber

https://docs.google.com/document/d/1Dtk2J6dnYCfhXUpcXAqvErlK2LbUakM9-d9gb0myloM/edit?usp=sharing

[2019-11-05 15:05] Erioldoesdesign opened #154 "Add workshop framework to main Open Design code page as a .md file"
Added workshop framework version 1 to the main Open Design code page as a .md file so that other folks can add suggestions and develop/remix the framework.

https://github.com/ushahidi/opendesign/blob/master/workshop-framework.md

[2019-11-05 15:06] #154 closed

[2019-11-05 16:42] klickass commented on #102
First pass done

[2019-11-06 18:23] #102 closed

[2019-11-07 14:58] Erioldoesdesign opened #155 "Launch Article: Language and goal review"
We had a suggestion from Twitter that reads:

"The launch article really needs some basic editing to communicate the mission clearly and quickly before page abandonment. I've read almost the entire thing and am still unclear on the goal.

A platform for downloading free design assets? I'm interested but confused."

Let's review the launch article as a team and see if we can offer clarity.

[2019-11-07 15:00] Erioldoesdesign commented on #150
Can I get a team member to go through all the live pages and see if this is done?

@thomaskueber @klickass @thesocialdetail ?

[2019-11-07 15:07] Erioldoesdesign opened #156 "Buttons with long text 'break'/'offset' on mobile"
From a Twitter comment:

Just a heads up it looks like this button is breaking your design on mobile and needs to be contained within it's parent div

![image.png](https://images.zenhubusercontent.com/5a6a0d5a4b5806bc2bc44bb9/2a25d10e-bcee-4dca-8349-53a0a89d64dc)

Could also be fixed by reducing the characters on the button

[2019-11-11 06:45] #125 closed

[2019-11-14 12:31] thesocialdetail commented on #124
DesignUp tweets

https://twitter.com/mannuamrit/status/1194834509201457152

https://twitter.com/meeshoapp/status/1194939971678830593

[2019-12-07 07:48] thesocialdetail commented on #153
Event completed

[2019-12-07 07:48] #153 closed

[2019-12-07 13:53] thesocialdetail commented on #124
Open UP summit Twitter thread
https://twitter.com/opendesignis/status/1201042122515697665

[2019-12-08 03:00] thesocialdetail commented on #124
Twitter Nov (1st - 7th)
<img width="803" alt="Screenshot 2019-12-07 at 21 54 31" src="https://user-images.githubusercontent.com/50371469/70375726-3f5ccd00-193c-11ea-8917-9d5d04a17418.png">
<img width="841" alt="Screenshot 2019-12-07 at 21 54 06" src="https://user-images.githubusercontent.com/50371469/70375729-484d9e80-193c-11ea-93f9-ce8259909af5.png">

[od_twitter_2019-11-01_to_2019-12-07_created_

[2019-12-08 03:27] thesocialdetail commented on #124
Facebook Nov - 7th Dec

[od_twitter_2019-11-01_to_2019-12-07_created_on_20191208T0258Z.pdf](https://github.com/ushahidi/opendesign/files/3935812/od_twitter_2019-11-01_to_2019-12-07_created_on_20191208T0258Z.pdf)

<img width="1085" alt="Screenshot 2019-12-08 at 11 26 47" src="https://user-images.githubusercontent.com/50371469/70383722-b4b4b600-19ad-11ea-8de9-24113ba1ccfb.png">

[2020-01-16 12:20] Erioldoesdesign commented on #149
The Ushahidi (TenFour) related events in Banagalore and Taipei were never added to the Ushahidi meetup page or community but they were added to Ushahidi documentation 'dev hub' here:
https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/hackathon-and-events/open-design-bangalore
https://app.gitbook.com/@ushahidi/s/platform-developer-documentation/hackathon-and-events/open-design-tai

[2020-01-16 12:20] #149 closed